
<h2><%= "#{@merchant.name}"%></h2>
<p><%= link_to "#{@merchant.name} Items Index", "/merchants/#{@merchant.id}/items" %></p>
<p><%= link_to "#{@merchant.name} Invoices Index", "/merchants/#{@merchant.id}/invoices" %></p>
