<h1> <%= @merchant.name %> Discounts:</h1>

<ul>
  <% @discounts.each do |discount| %>
    <li><%= link_to "#{discount.percentage}", merchant_bulk_discount_path(@merchant.id, discount.id) %>% off <%= "#{discount.quantity_threshold}" %> or more!</li>
  <% end %>
</ul>
