<h2>Bulk Discount ID <%= "#{@bulk_discount.id}" %> Show Page</h2>

<div id="bulk-discount-info">
  <p>Discount: <%= @bulk_discount.discount %></p>
  <p>Threshold: <%= @bulk_discount.threshold %></p>
</div>