<h1>Bulk Discount <%= @bulk_discount.id %></h1>

<h2>Percentage Discount: <%= @bulk_discount.percentage_discount.to_s %>%</h2>
<h2>Minimum # of Items: <%= @bulk_discount.quantity_threshold.to_s %></h2>