<!DOCTYPE html>
<html>
  <style>

      .topnav-right {
      float: right;
    }
  </style>
  <header>
      <h1><center> Little Esty Shop </center></h1>
  </header>

  <nav class="topnav-right">
    <p> <%= link_to "My Items", "/merchants/#{@merchant.id}/items" %> </p>
    <p> <%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %> </p>
  </nav>
<body>
<%= @merchant.name %>

</body>
</html>