<h1><%= @merchant.name %>'s Dashboard </h1>
<h3>Top 5 Customers </h3>
<section>
<%= link_to "Merchant Items Index", "/merchants/#{@merchant.id}/items" %>
<%= link_to "Merchant Invoices Index", "/merchants/#{@merchant.id}/invoices" %>
</section>
