<h1><%= @merchant.name %></h1>
<ul>
 <p><%= link_to "Merchant Items", merchant_items_path(params[:merchant_id]) %></p>
  <%= link_to "Merchant Invoices", merchant_invoices_path(params[:merchant_id]) %>
</ul>
