<h1><%= @merchant.name %>'s Dashboard!</h1>

<%= link_to "Items Index", merchant_items_path %>
<br>
<%= link_to "Invoices Index", merchant_invoices_path %>



<h3>Top 5 Customers:</h3>
<%# <% @merchant.top_customers.each do |customer| %>
  <%# <p><%= customer.name %></p> %>
<%# <% end %> %> %>