---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ruezheng/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"54da0b5cc89948e93e06bc5968a9b8a3187b0244c91d61a375fcbdfbcbec44d3"
      Last-Modified:
      - Tue, 07 Jun 2022 00:18:16 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '19'
      X-Ratelimit-Reset:
      - '1654628686'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"id":497064826,"node_id":"R_kgDOHaCbeg","name":"little-esty-shop","full_name":"ruezheng/little-esty-shop","private":false,"owner":{"login":"ruezheng","id":99001315,"node_id":"U_kgDOBeaj4w","avatar_url":"https://avatars.githubusercontent.com/u/99001315?v=4","gravatar_id":"","url":"https://api.github.com/users/ruezheng","html_url":"https://github.com/ruezheng","followers_url":"https://api.github.com/users/ruezheng/followers","following_url":"https://api.github.com/users/ruezheng/following{/other_user}","gists_url":"https://api.github.com/users/ruezheng/gists{/gist_id}","starred_url":"https://api.github.com/users/ruezheng/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ruezheng/subscriptions","organizations_url":"https://api.github.com/users/ruezheng/orgs","repos_url":"https://api.github.com/users/ruezheng/repos","events_url":"https://api.github.com/users/ruezheng/events{/privacy}","received_events_url":"https://api.github.com/users/ruezheng/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ruezheng/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/ruezheng/little-esty-shop","forks_url":"https://api.github.com/repos/ruezheng/little-esty-shop/forks","keys_url":"https://api.github.com/repos/ruezheng/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ruezheng/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ruezheng/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/ruezheng/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/ruezheng/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/ruezheng/little-esty-shop/events","assignees_url":"https://api.github.com/repos/ruezheng/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/ruezheng/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/ruezheng/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/ruezheng/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ruezheng/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ruezheng/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/ruezheng/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ruezheng/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/ruezheng/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/ruezheng/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/ruezheng/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/ruezheng/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/ruezheng/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/ruezheng/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/ruezheng/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/ruezheng/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/ruezheng/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/ruezheng/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/ruezheng/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ruezheng/little-esty-shop/merges","archive_url":"https://api.github.com/repos/ruezheng/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ruezheng/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/ruezheng/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/ruezheng/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/ruezheng/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/ruezheng/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ruezheng/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/ruezheng/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/ruezheng/little-esty-shop/deployments","created_at":"2022-05-27T16:26:26Z","updated_at":"2022-06-07T00:18:16Z","pushed_at":"2022-06-07T18:15:27Z","git_url":"git://github.com/ruezheng/little-esty-shop.git","ssh_url":"git@github.com:ruezheng/little-esty-shop.git","clone_url":"https://github.com/ruezheng/little-esty-shop.git","svn_url":"https://github.com/ruezheng/little-esty-shop","homepage":"","size":1314,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":41,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":41,"watchers":3,"default_branch":"main","temp_clone_token":null,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
[...]
