<p> <%= link_to "Merchant items", "/merchants/:merchant_id/items" %> </p>
<p> <%= link_to "Merchant invoices", "/merchants/:merchant_id/invoices"%> </p>

<% @merchants.each do |merchant| %>
<h1> <%= merchant.name %></h1>
<% end %>

<h2> Top 5 customers </h2>
