---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ScottSullivanltd/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7ed6933b10ebd72ed1087d818fb2728c02d265f0e3128ed92a1e737aa6ac8918"
      Last-Modified:
      - Mon, 11 Apr 2022 19:20:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '17'
      X-Ratelimit-Reset:
      - '1650351645'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"id":479528045,"node_id":"R_kgDOHJUEbQ","name":"little-esty-shop","full_name":"ScottSullivanltd/little-esty-shop","private":false,"owner":{"login":"ScottSullivanltd","id":96926479,"node_id":"U_kgDOBcb7Dw","avatar_url":"https://avatars.githubusercontent.com/u/96926479?v=4","gravatar_id":"","url":"https://api.github.com/users/ScottSullivanltd","html_url":"https://github.com/ScottSullivanltd","followers_url":"https://api.github.com/users/ScottSullivanltd/followers","following_url":"https://api.github.com/users/ScottSullivanltd/following{/other_user}","gists_url":"https://api.github.com/users/ScottSullivanltd/gists{/gist_id}","starred_url":"https://api.github.com/users/ScottSullivanltd/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ScottSullivanltd/subscriptions","organizations_url":"https://api.github.com/users/ScottSullivanltd/orgs","repos_url":"https://api.github.com/users/ScottSullivanltd/repos","events_url":"https://api.github.com/users/ScottSullivanltd/events{/privacy}","received_events_url":"https://api.github.com/users/ScottSullivanltd/received_events","type":"User","site_admin":false},"html_url":"https://github.com/ScottSullivanltd/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop","forks_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/forks","keys_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/events","assignees_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/merges","archive_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/ScottSullivanltd/little-esty-shop/deployments","created_at":"2022-04-08T20:22:39Z","updated_at":"2022-04-11T19:20:03Z","pushed_at":"2022-04-19T04:35:00Z","git_url":"git://github.com/ScottSullivanltd/little-esty-shop.git","ssh_url":"git@github.com:ScottSullivanltd/little-esty-shop.git","clone_url":"https://github.com/ScottSullivanltd/little-esty-shop.git","svn_url":"https://github.com/ScottSullivanltd/little-esty-shop","homepage":"","size":1265,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":40,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":40,"watchers":2,"default_branch":"main","temp_clone_token":null,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/ScottSullivanltd/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: rate limit exceeded
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1650471656'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '60'
    body:
      encoding: UTF-8
      string: '{"message":"API rate limit exceeded for 99.10.93.177. (But here''s
        the good news: Authenticated requests get a higher rate limit. Check out the
        documentation for more details.)","documentation_url":"https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting"}

'
  recorded_at: Wed, 20 Apr 2022 15:36:14 GMT
[...]
