<h1>This is the admin dashboard</h1>

<%= link_to 'merchants', admin_merchants_path %>
<%= link_to 'invoices', admin_invoices_path %>


<h2>Top 5 Customers</h2>
  <% @customers.each do |customer| %>
    <section id="customer-<%= customer.id %>">
    <ul>
      <li><%= customer.first_name + " " + customer.last_name + " :#{customer.number_of_successful_transactions}" %></li>
    </ul>
  <% end %>
</section>