<h1> Admin Dashboard </h1>

<%= link_to "Merchant Index", "/admin/merchants" %>
<%= link_to "Invoice Index", "/admin/invoices" %>

<h3>Top Customers:</h3>
<body>
      <ol>
      <% @top_customers.each do |customer| %>
          <li> <%= customer["first_name"] + " " + customer["last_name"] + ": " + customer["transaction_count"].to_s %> </li>
      <% end %>
      </ol>
</body>

<br>
<br>

<h3>Incomplete Invoices</h3>
<body>
    <ul>
      <% @incomplete_invoices.each do |invoice_id| %>
       <li><%= link_to("#{invoice_id}", "/admin/invoices/#{invoice_id}") %></li>
      <% end %>
    </ul>
</body>
