<h1>Admin Dashboard</h1>

<p> <%= link_to "Merchants", "/admin/merchants" %> </p>
<p> <%= link_to "Invoices", "/admin/invoices" %> </p>

<div id="top-customers"><h5>Top Customers</h5>
  <% @customers.top_customers.each_with_index do |customer, index| %>
  <p><%= "#{index + 1}. #{customer.full_name} - #{customer.transaction_count} purchases" %></p>
  <% end %>
</div>

<div id="incomplete_invoices"><h5>Incomplete Invoices</h5>
  <% @invoices.each do |invoice| %>
    <% invoice.invoice_items.each do |invoiceitem| %>
      <% if invoiceitem.status != "shipped" %>
        <p> <%= link_to "Invoice #{invoiceitem.invoice_id}", "/admin/invoices/#{invoice.id}" %> </p>
      <% end %>
    <% end %>
  <% end %>
</div>
