<h1><%= @merchant.name %> Invoices Index</h1>

<% @invoices.each do |invoice| %>
  <div id="invoice<%= invoice.id %>">
    <p><%= link_to invoice.id, merchant_invoice_path(@merchant.id, "#{invoice.id}") %></p>
  </div>

<% end %>
