<h1><%= @merchant.name %> Invoices</h1>

<div id="invoice_list">
  <h2>--- Invoice List ---</h2>
    <% @invoices.each do |invoice|%>
      <p> <%= link_to "Invoice: #{invoice.id}", merchant_item_path(@merchant, invoice.id)%> </p>
    <%end%>
</div>