<h1 id = 'heading'> My Invoices </h1>

<div1>
  <% @invoices.each do |invoice| %>
    <p1 id = "invoice-<%=invoice.id%>">
      <%= link_to "Invoice ##{invoice.id}", merchant_invoice_path(@merchant, invoice) %>
    </p1><br>
  <% end %>
</div1>
