<h1>Invoices: <%=@merchant.name%> </h1>
<ul>
  <% @invoices.each do |invoice| %>
    <li><%=link_to "Invoice #{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %></li>
  <% end %>
</ul>