<%= render 'partials/navbar_merchant' %><br><br>

<div class="container">

  <h2 style="text-align:center;">Invoices Index</h2><br>

  <div class="invoice_index">
    <% @invoices.each do |invoice| %>
    <ol>Invoice: <%= link_to invoice.id, merchant_invoice_path(@merchant, invoice.id) %></ol>
    <% end %>
  </div>

</div>
