<h1> <%= @merchant.name %> Invoices</h1>

<section id="all-invoices">
  <% @merchant.invoices.each do |invoice| %>
    <p>Invoice ID: <%= link_to "#{invoice.id}", merchant_invoice_path(@merchant, invoice), local: true %></p>
  <% end %>
</section>

