<h1>Merchant Invoices Index Page</h1>

<p>Here we see all invoices that have at least one of the merchant's items</p>
<div id="relevant_invoices">
<% @invoices.find_relevant_invoices.each do |invoice| %>
<%= invoice.id %>
</div>
<% end %>