<h1>My Invoices</h1>
<section id="merchant-invoices">
  <% @merchant_invoices.each do |invoice| %>
    <p>Invoice #<%= link_to "#{invoice.id}", url: "/merchant/#{@merchant.id}/invoices/#{invoice.id}", method: :get %></p>
  <% end %>
</section>
