<h1><%= @merchant.name %> Invoices</h1>

  <% @merchant.invoices.uniq.each do |invoice| %>
  <div id="invoice-<%= invoice.id %>">
    <p>Invoice ID: <%= link_to invoice.id, merchant_invoice_path(@merchant, invoice) %></p>
  </div>
  <% end %>
