<h1><%= @merchant.name %> Invoices</h1>

<ol>
    <% @merchant.invoices.distinct.each do |invoice| %>
        <li>Invoice: <%= link_to "#{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %></li>
    <% end %>
</ol>