<h1>Invoice for: <%= @merchant.name %> </h1>

<ul>
    <% @merchant.invoices.distinct.each do |invoice| %>
        <li>Invoice: <%= invoice.id %></li>
        <li>Status: <%= invoice.status %></li>
        <li>Created: <%= invoice.created_at %></li>
    <% end %>
</ul>