<section id="invoice-info">
  <h1>Invoice # <%= @merchant_invoice.id %></h1>

  <p>Status: <%= @status_format %></p>
  <p>Created on: <%= @merchant_invoice.date_format %></p>
</section>
<section id="invoice-customer-info">
  <h2>Customer:</h2>
  <p><%= @merchant_invoice.customer.name %></p>
</section>