<h3>Invoice ID: <%= @invoice.id %></h3><br>

<a>Status: <%= @invoice.status %></a><br>
<a>Created At: <%= @invoice.created_at.strftime("%-m/%d/%y") %></a><br>
<a>Customer Name: <%= @invoice.full_name %></a><br><br>
