<p><b>ID: </b><%= @invoice.id %></p>
<p><b>Status: </b><%= @invoice.status %></p>
<p><b>Created: </b><%= @invoice.created_at.strftime("%A, %B %e, %Y")  %></p>
<p><b>Customer: </b><%= @invoice.customer.full_name %></p>
