---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/LukeSwenson06/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f10974871a39cdddc8c53c8d14d63048a2b6fd5ad695896acc2ade1a111c303f"
      Last-Modified:
      - Sat, 28 May 2022 16:08:10 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1654727427'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"casefaz","id":98674727,"node_id":"U_kgDOBeGoJw","avatar_url":"https://avatars.githubusercontent.com/u/98674727?v=4","gravatar_id":"","url":"https://api.github.com/users/casefaz","html_url":"https://github.com/casefaz","followers_url":"https://api.github.com/users/casefaz/followers","following_url":"https://api.github.com/users/casefaz/following{/other_user}","gists_url":"https://api.github.com/users/casefaz/gists{/gist_id}","starred_url":"https://api.github.com/users/casefaz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/casefaz/subscriptions","organizations_url":"https://api.github.com/users/casefaz/orgs","repos_url":"https://api.github.com/users/casefaz/repos","events_url":"https://api.github.com/users/casefaz/events{/privacy}","received_events_url":"https://api.github.com/users/casefaz/received_events","type":"User","site_admin":false,"contributions":101},{"login":"wesatt","id":98676136,"node_id":"U_kgDOBeGtqA","avatar_url":"https://avatars.githubusercontent.com/u/98676136?v=4","gravatar_id":"","url":"https://api.github.com/users/wesatt","html_url":"https://github.com/wesatt","followers_url":"https://api.github.com/users/wesatt/followers","following_url":"https://api.github.com/users/wesatt/following{/other_user}","gists_url":"https://api.github.com/users/wesatt/gists{/gist_id}","starred_url":"https://api.github.com/users/wesatt/starred{/own[...]
