---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/LukeSwenson06/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"353a5f1a9382c6dadf5d30b8fe99f54f19b0760842afdb10611be33732dc206d"
      Last-Modified:
      - Sat, 28 May 2022 16:08:10 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1654643461'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"id":497135559,"node_id":"R_kgDOHaGvxw","name":"little-esty-shop","full_name":"LukeSwenson06/little-esty-shop","private":false,"owner":{"login":"LukeSwenson06","id":98354482,"node_id":"U_kgDOBdzFMg","avatar_url":"https://avatars.githubusercontent.com/u/98354482?v=4","gravatar_id":"","url":"https://api.github.com/users/LukeSwenson06","html_url":"https://github.com/LukeSwenson06","followers_url":"https://api.github.com/users/LukeSwenson06/followers","following_url":"https://api.github.com/users/LukeSwenson06/following{/other_user}","gists_url":"https://api.github.com/users/LukeSwenson06/gists{/gist_id}","starred_url":"https://api.github.com/users/LukeSwenson06/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/LukeSwenson06/subscriptions","organizations_url":"https://api.github.com/users/LukeSwenson06/orgs","repos_url":"https://api.github.com/users/LukeSwenson06/repos","events_url":"https://api.github.com/users/LukeSwenson06/events{/privacy}","received_events_url":"https://api.github.com/users/LukeSwenson06/received_events","type":"User","site_admin":false},"html_url":"https://github.com/LukeSwenson06/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop","forks_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/forks","keys_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/events","assignees_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/merges","archive_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/deployments","created_at":"2022-05-27T20:53:36Z","updated_at":"2022-05-28T16:08:10Z","pushed_at":"2022-06-07T17:58:19Z","git_url":"git://github.com/LukeSwenson06/little-esty-shop.git","ssh_url":"git@github.com:LukeSwenson06/little-esty-shop.git","clone_url":"https://github.com/LukeSwenson06/little-esty-shop.git","svn_url":"https://github.com/LukeSwenson06/little-esty-shop","homepage":"","size":1483,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":40,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":40,"watchers":3,"default_branch":"main","temp_clone_token":null,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
- request:
    method: get
    uri: https://api.github.com/repos/LukeSwenson06/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df5ec2ed3828349fd483390afcfde70f6e4d152159ab408196b98ce9e788cc43"
      Last-Modified:
      - Sat, 28 May 2022 16:08:10 GMT
      X-Github-Media-Type:
      - github.v3; f[...]
