---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/LukeSwenson06/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f10974871a39cdddc8c53c8d14d63048a2b6fd5ad695896acc2ade1a111c303f"
      Last-Modified:
      - Sat, 28 May 2022 16:08:10 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1654727426'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"casefaz","id":98674727,"node_id":"U_kgDOBeGoJw","avatar_url":"https://avatars.githubusercontent.com/u/98674727?v=4","gravatar_id":"","url":"https://api.github.com/users/casefaz","html_url":"https://github.com/casefaz","followers_url":"https://api.github.com/users/casefaz/followers","following_url":"https://api.github.com/users/casefaz/following{/other_user}","gists_url":"https://api.github.com/users/casefaz/gists{/gist_id}","starred_url":"https://api.github.com/users/casefaz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/casefaz/subscriptions","organizations_url":"https://api.github.com/users/casefaz/orgs","repos_url":"https://api.github.com/users/casefaz/repos","events_url":"https://api.github.com/users/casefaz/events{/privacy}","received_events_url":"https://api.github.com/users/casefaz/received_events","type":"User","site_admin":false,"contributions":101},{"login":"wesatt","id":98676136,"node_id":"U_kgDOBeGtqA","avatar_url":"https://avatars.githubusercontent.com/u/98676136?v=4","gravatar_id":"","url":"https://api.github.com/users/wesatt","html_url":"https://github.com/wesatt","followers_url":"https://api.github.com/users/wesatt/followers","following_url":"https://api.github.com/users/wesatt/following{/other_user}","gists_url":"https://api.github.com/users/wesatt/gists{/gist_id}","starred_url":"https://api.github.com/users/wesatt/starred{/own[...]
- request:
    method: get
    uri: https://api.github.com/repos/LukeSwenson06/little-esty-shop/commits?author=casefaz&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40c7e99c4483e09d329777e73aa23472c284d39642f659025465e7dc52bb3788"
      Last-Modified:
      - Tue, 07 Jun 2022 23:22:16 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/497135559/commits?author=casefaz&per_page=100&page=2>;
        rel="next", <https://api.github.com/repositories/497135559/commits?author=casefaz&per_page=100&page=2>;
        rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1654727427'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"332e5e714a402b01444002022be27751b211eff2","node_id":"C_kwDOHaGvx9oAKDMzMmU1ZTcxNGE0MDJiMDE0NDQwMDIwMjJiZTI3NzUxYjIxMWVmZjI","commit":{"author":{"name":"Casey
        Fazio","email":"98674727+casefaz@users.noreply.github.com","date":"2022-06-07T23:22:16Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-06-07T23:22:16Z"},"message":"Merge
        pull request #94 from LukeSwenson06/api-usernames\n\nfeat: added github login
        ids to view","tree":{"sha":"d4dbf3d423a156e3b077a8d0405dc3db36af0b16","url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/git/trees/d4dbf3d423a156e3b077a8d0405dc3db36af0b16"},"url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/git/commits/332e5e714a402b01444002022be27751b211eff2","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJin92oCRBK7hj4Ov3rIwAAO4YIAD+2EoWSSrZiviSVjFwxfVJN\nmulqX5akWylq6wRTooCQUxoLTZfuE7RULmR+hw1lfj//ZAD/yY2Bbns98qmyQEDE\nYeeeLiUDuWTAA0UIQ7SqXlDDuLTqW0wYzDqiyP5McdSROPR7+5UFS88N/wdobI7m\nuZ2wEB4Dq+kgqIXx6B8hg4wUixXa5ilh1+FZCnzfU77hB4agzj4JL9KndruYZs56\n/tCVdpul4Uj5hEcDFMIA1shqhVDX5SqNMtefsazEk8dB9OwHCLMVTEbJ5ANFvqi3\nPlD6V0cZDIwnlSVIBg0xuxNilY3mkIGdD63lLaMe8p+P2CsRYG45Ko7THiKdk4Y=\n=KW/b\n-----END
        PGP SIGNATURE-----\n","payload":"tree d4dbf3d423a156e3b077a8d0405dc3db36af0b16\nparent
        bbd4523ffb5a76ea983125101fed26d21957534d\nparent 07da1e490f96dbfe2353cff6c6a886239550acc6\nauthor
        Casey Fazio <98674727+casefaz@users.noreply.github.com> 1654644136 -0600\ncommitter
        GitHub <noreply@github.com> 1654644136 -0600\n\nMerge pull request #94 from
        LukeSwenson06/api-usernames\n\nfeat: added github login ids to view"}},"url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/commits/332e5e714a402b01444002022be27751b211eff2","html_url":"https://github.com/LukeSwenson06/little-esty-shop/commit/332e5e714a402b01444002022be27751b211eff2","comments_url":"https://api.github.com/repos/LukeSwenson06/little-esty-shop/commits/332e5e714a402b01444002022be27751b211eff2/comments","author":{"login":"casefaz","id":98674727,"node_id":"U_kgDOBeGoJw","avatar_url":"https://avatars.githubusercontent.com/u/98674727?v=4","gravatar_id":"","url":"https://api.github.com/users/casefaz","html_url":"https://github.com/casefaz","followers_url":"https://api.github.com/users/casefaz/followers","following_url":"https://api.github.com/users/casefaz/following{/other_user}",[...]
- request:
    method: get
    uri: https://api.github.com/repos/LukeSwenson06/little-esty-shop/commits?author=wesatt&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e54541c4fa2fa0c120e39cb7a3b29a2867828bd5e9177fa13a6b5ddeff4599be"
      Last-Modified:
      - Wed, 08 Jun 2022 00:17:25 GMT
      X-Github-Media-Type[...]
- request:
    method: get
    uri: https://api.github.com/repos/LukeSwenson06/little-esty-shop/commits?author=LukeSwenson06&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ebdd9ce7caa31fa4b9ac336bfe2b588a8ec326c8f43206d7aed112a85b54d2e"
      Last-Modified:
      - Wed, 08 Jun 2022 00:20:40 GMT
      X-Github-Med[...]
- request:
    method: get
    uri: https://api.github.com/repos/LukeSwenson06/little-esty-shop/commits?author=sage-skaff&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"161a461e3855a94de685cf3c65a6ea3da2675572eb1782b86c9bc83f884403d3"
      Last-Modified:
      - Tue, 07 Jun 2022 17:45:19 GMT
      X-Github-Media-[...]
