<h1>Merchant Bulk Discount Index</h1>

<h2><%= @merchant.name %></h2>

<% @discounts.each do |discount|  %>
  <ul id="discount-<%= discount.id %>">
    <li>
      <h3><%= discount.discount_percent %>% off <%= discount.quantity_threshold %> or more items!</h3>
    </li>
  </ul>
<% end %>

