<h1>Admin Dashboard</h1>

<a href="admin/merchants">Merchants (administrator)</a> <br>
<a href="admin/invoices">Invoices (administrator)</a>

<section id="top_five_customers">
  <h3>Top Five Customers</h3>
  <ol>
    <% @customers.top_five_customers.each do |customer| %>
    <li>
      Customer: <%= customer.full_name %> - Total Transactions: <%= customer.total_transactions %>
    </li>
    <% end %>
  </ol>
</section>


  <section id="incomplete_invoices">
    <h3>Incomplete Invoices</h3>
        <p><% @invoices.incomplete_invoices.each do |invoice| %>
          Invoice #<%= link_to "#{invoice.id}", "admin/invoices<p>#{invoice.id}" %></p>
        <p>Record Originated : <%= invoice.created_at.strftime("%A, %B %d, %Y %T") %></p><br>
        <% end %>
  </section>
