<h3 class='dash_header'>Admin Dashboard</h3>
<br>
<div id="top_customers">
  <h5>Top Customers: </h5>

  <% @top_customers.each do |customer| %>
    <p id="customer_<%= customer.id %>"><%= customer.first_name %> <%= customer.last_name %> <%= customer.transactions_count %></p>

  <% end %>
  </div>