<h2>Admin Dashboard</h2>

<p><%= link_to "Merchants", "/admin/merchants" %></p>
<p><%= link_to "Invoices", "/admin/invoices" %></p>
<ol>Incomplete Invoices:
  <% @invoices.each do |invoice| %>
    <% invoice.incomplete_invoices.each do |invoice_item| %>
    <li><%= invoice_item.invoice_id %></li>
    <% end %>
  <% end %>
</ol>
