<header id="admin_header">
  <h2 >Admin Dashboard</h2>
</header>
<nav id="admin_nav">
  <%=  link_to "Merchants", '/admin/merchants' %>
  <%=  link_to "Invoices", '/admin/invoices' %>
</nav>
<section id="incomplete_invoices">
  <h3>Incomplete Invoices</h3>
  <% @unshipped.each do |invoice_item| %>
    <ul id="<%= invoice_item.invoice_id %>">
      <li> Invoice #<%= link_to "#{invoice_item.invoice_id}", "/admin/#{invoice_item.invoice_id}" %></li>
    </ul>
  <% end %>
</section>