<div class="container text-center">
<h1> Admin Dashboard </h1>


<div id='adminnavbuttons'><%= button_to "View Merchants", "/admin/merchants", method: :get %><%= button_to "View Invoices", "/admin/invoices", method: :get %></div>
<h3>Incomplete Invoices</h3>
</div>

<div class="center-admin">
<ul >
<% @incomplete.each do |invoice| %>
  <li> <%= link_to "Invoice ID: #{invoice.invoice_id}", "/admin/invoices/#{invoice.invoice_id}"%>   Order created:  <%=invoice.created_at.strftime("%A, %B %d, %Y")%></li>
  <%end%>
  </ul>
</div>
