<h1> Admin Dashboard </h1>

<ul>
  <li> <%= link_to 'Dashboard', admin_dashboard_index_path %></li>
  <li> <%= link_to 'Merchants' %></li>
  <li> <%= link_to 'Invoices', admin_invoices_path %></li>
</ul>

<h3> Invoices </h3>

<% @invoices.each do |invoice| %>
  <li> <%= link_to "Invoice #{invoice.id}", admin_invoice_path %> </li>

<% end %>
