<h3 id= "admin_dashboard">Admin Dashboard</h3>
<section id="admin_navbar">
<%= link_to "Dashboard", admin_index_path %> <%= link_to "Merchants", admin_merchants_path %> <%= link_to "Invoices", admin_invoices_path %>
</section>