<h2>Admin Dashboard</h2>

<div style="font-size:15px; text-align:right;">
    <span style="padding:10px; padding:10px;"><%= link_to "Dashboard", "/admin/" %></span>
    <span style="padding:10px; padding:10px;"><%= link_to "Merchant Index", "/admin/merchants" %></span>
    <span style="padding:10px; padding:10px;"><%= link_to "Invoice Index", "/admin/invoices" %></span>
</div>