<header class="flex-container">
  <h1>Admin Dashboard</h1>
  <h3 class="nav-bar">
    <a href=<%= admin_index_path %>>Dashboard</a>
    <a href=<%= admin_merchants_path %>>Merchants</a>
    <a href=<%= admin_invoices_path %>>Invoices</a>
  </nav>
</header>