<div class="link_bar">
  li {
  display: inline;
}
  <ul>
    <li><%= link_to "Admin Merchants", '/admin/merchants' %></li>
    <li><%= link_to ":Admin Invoices", '/admin/invoices' %></li>
  </ul>
</div>
