<h1>Admin Dashboard</h1>

<p><%= link_to 'Admin Merchants Index', '/admin/merchants' %></p>
<p><%= link_to 'Admin Invoices Index', '/admin/invoices' %></p>

<h3>Incomplete Invoices</h3>
  
  <div id="incomplete_invoices">
  <% @invoices.incomplete_invoices.each do |invoice| %>
    <p>Invoice #<%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %></p>
  <% end %>
  </div>
 
