<div id="admin-header">
  <h1>Admin Dashboard</h1>
</div>

<div id="dashboard-links">
   <p><%= link_to "Merchants View", admin_merchants_path %></p>
  <p><%= link_to "Invoices View", admin_invoices_path %></p>
</div>

<div id="incomplete-invoices">
  <% @invoices.incomplete_invoices.each do |invoice|%>
  <%= link_to "#{invoice.id}", admin_invoice_path %>
  <% end %>
</div>
