<div id="admin-header">
  <h1>Admin Dashboard</h1>
</div>

<div id="dashboard-links">
   <p><%= link_to "Merchants View", admin_merchants_path %></p>
  <p><%= link_to "Invoices View", admin_invoices_path %></p>
</div>