<h1> Admin Dashboard </h1>

<%= link_to "Admin Merchants Index"%>
<%= link_to "Admin Invoices Index"%>

<div><class = "adminIndex">
<p> Incomplete Invoices </p>
  <%@invoice_items.incomplete_invoices.each do |invoice|%>
    <p>Invoice #<a href="/admin/:id"><%=link_to invoice%></a></p>
  <%end%>
</div>
