<h1>Admin Dashboard</h1>
<p><a href="/admin/merchants">Admin Merchants</a><p>
<p><a href="/admin/invoices">Admin Invoices</a><p>

<ul id="admin">
  <p>Top 5 Customers: </p>
    <% @customer.top_five.each do |customer| %>
  <li>
   Name: <%= customer.name %>, Number of Successful Transactions: <%= customer.sucessful_transactions %>
  </li>
<% end %>
</ul>
