<h3 id="links"; style="text-align:left;">&emsp;
    Admin Dashboard<span style="float:right;"><%= render partial: 'partials/admin_links' %>&emsp;</span>
</h3>

<style>
.column {
  float: left;
  width: 40%;
  padding: 50px;
}
</style>

<div class="row">
  <div class="column">
    <h3>Incomplete Invoices</h3>

  </div>

  <div class="column">
    <h3>&emsp;<%= "Top Customers" %></h3>

  </div>

</div>
