<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <h2>Admin Dashboard</h2>
  </div>

  <div class="page-defaults" id="rightSide">
    <%= link_to "Merchants", '/admin/merchants' %>
    <%= link_to "Invoices", '/admin/invoices' %>
    <ul>

    </ul>
  </div>

</div>

<div class="page-defaults" id="splitSides">
  <div class="page-defaults" id="leftSide2">
  <h3>Incomplete Invoices</h3>
  <% @not_shipped.each do |invoice| %>
    <%= invoice.id %>
  <% end %>
  </div>
</div>
