<div id="header">
    <%= render "shared/admin_header" %>
</div>

<div id="top-customers">
    <h3> Top Customer </h3>
    <% Customer.top_5_by_transaction.each.with_index(1) do |customer, i| %>
        <p> <%= "#{i}. #{customer.first_name} #{customer.last_name}" %> </p>
    <% end %>
</div>