<h1>Little Esty Shop</h1>

<div id="admin_merchant">
  <% @merchants.each do |merchant| %>
    <p><h3><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %></h3></p>
  <% end %><br>
</div>

<% @invoices.each do |invoice| %>
  <p>Invoice #<%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %> </p>
<% end %>
