<h1> Admin Dashboard </h1>


<section id = "incInvoices" >
<h2> Incomplete Invoices </h2>


</section>




<%= link_to "Merchant Index", "/admin/merchants" %>
<%= link_to "Invoice Index", "/admin/invoices" %>