<h1>Admin Dashboard</h1>

<div id="merchants">
  <%= link_to 'Merchants', '/admin/merchants', method: :get %>
</div>

<div id="invoices">
  <%= link_to 'Invoices', '/admin/invoices', method: :get %>
</div>

<%# <div id="favorite-customers">
  <% @merchant.favorite_customers.each do |favorite_customer|%>
  <%# <% <div id="customer-<%= favorite_customer.id">  %>