<div id="header">
    <%= render "shared/admin_header" %>
</div>

<div class='content'>
    <div id="incomplete-invoices">
        <div class='section-title'>
            <h3> Incomplete Invoices</h3>
        </div>
        <% Invoice.incomplete_invoices.each do |invoice| %>
            <p> <%=link_to( "Invoice ##{invoice.id} - #{invoice.created_at.strftime("%A, %B %d, %Y")}", admin_invoice_path(invoice)) %> </p>
        <% end %>
    </div>

    <div id="top-customers">
        <div class='section-title'>
            <h3> Top Customer </h3>
         </div>
        <% Customer.top_5_by_transaction.each.with_index(1) do |customer, i| %>
            <p> <%= "#{i}. #{customer.first_name} #{customer.last_name} - #{customer.count} purchases" %> </p>
        <% end %>
    </div>
</div>