<h1><center>Little Esty Shop<center></h1>

<h2>Admin Dashboard</h2>

<%= link_to "Dashboard", admin_index_path %>
<%= link_to "Merchants", admin_merchants_path %>
<%= link_to "Invoices", admin_invoices_path %>

<section id="top_customers">
<h3>Top 5 Customers</h3>
<% @top_5_customers.each do |customer| %>
  <ol>
    <li><%="#{customer.first_name} #{customer.last_name}"%></li>
  </ol>
<% end%>
</section>