<strong><center>Admin Dashoard</center></strong>
<hr>

<div style="position:fixed; padding: 1em; Top: 5; right: 0;">
<p><%= link_to "Merchants", admin_merchants_path %></p>
<p><%= link_to "Invoices", admin_invoices_path %></p>
</div>

<div id='top_customers'>
  <h3>Top Customers:</h3>
  <ol>
    <% @customers.each do |customer| %>
      <li><%= "#{customer.name} - #{customer.succ_transactions}"%> successful transactions </li>
    <% end %>
  </ol>
</div>