<h1>Little Esty Shop</h1>
<h2>Admin Dashboard</h2>

<%= link_to 'Admin merchants page', '/admin/merchants'  %>
<%= link_to 'Admin invoices page', '/admin/invoices'  %>
<h3>Incomplete Invoices</h3>
<table>
    <% @incomplete_invoice_items.each do |id| %>
      <tr>  
      <td>Invoice # <%= link_to "#{id}", "/admin/invoices/#{id}" %></td>
      </tr>
    <% end %>
</table>