<header id="admin-header"><h1>Admin Dashboard</h1></header> 

<div id="admin-links">
   <p><%= link_to 'Merchants', '/admin/merchants' %></p>
   <p><%= link_to 'Invoicess', '/admin/invoicess' %></p>
</div>