<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <h3><%= link_to 'Merchants', '/admin/merchants' %></h3>
    <h3><%= link_to 'Invoices', '/admin/invoices' %></h3>
  </head>
  <body>

  </body>
</html>
