<h1>Admin Dashboard</h1>

<div id="merchants">
  <%= link_to 'Merchants', '/admin/merchants', method: :get %>
</div>

<div id="invoices">
  <%= link_to 'Invoices', '/admin/invoices', method: :get %>
</div>