<h1>Admin Dashboard</h1>

<div text-align="center" align="center">
  <%= link_to 'Merchants Index', '/admin/merchants', method: :get, class:"btn btn-outline-dark navbar-custom" %>
  <%= link_to 'Invoices Index', '/admin/invoices', method: :get, class:"btn btn-outline-dark navbar-custom" %>
</div>