<h1>Admin Dashboard</h1>
<%= link_to "Admin Merchant Index", "/admin/merchants" %>
<%= link_to "Admin Invoice Index", "/admin/invoices" %>

<h3>Incomplete Invoices</h3>
<% @invoices.each do |invoice| %>
  <%= invoice.unshipped %>
<% end %>
