---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/phillipkamps/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c90a0506b13e880c1282e55610e7386beedba4ec6a73197761ff13638c1b01d0"
      Last-Modified:
      - Fri, 15 Apr 2022 06:49:54 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1650491262'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"sandisz-d734m37","id":94508708,"node_id":"U_kgDOBaIWpA","avatar_url":"https://avatars.githubusercontent.com/u/94508708?v=4","gravatar_id":"","url":"https://api.github.com/users/sandisz-d734m37","html_url":"https://github.com/sandisz-d734m37","followers_url":"https://api.github.com/users/sandisz-d734m37/followers","following_url":"https://api.github.com/users/sandisz-d734m37/following{/other_user}","gists_url":"https://api.github.com/users/sandisz-d734m37/gists{/gist_id}","starred_url":"https://api.github.com/users/sandisz-d734m37/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sandisz-d734m37/subscriptions","organizations_url":"https://api.github.com/users/sandisz-d734m37/orgs","repos_url":"https://api.github.com/users/sandisz-d734m37/repos","events_url":"https://api.github.com/users/sandisz-d734m37/events{/privacy}","received_events_url":"https://api.github.com/users/sandisz-d734m37/received_events","type":"User","site_admin":false,"contributions":63},{"login":"johnny-bowman","id":95893959,"node_id":"U_kgDOBbc5xw","avatar_url":"https://avatars.githubusercontent.com/u/95893959?v=4","gravatar_id":"","url":"https://api.github.com/users/johnny-bowman","html_url":"https://github.com/johnny-bowman","followers_url":"https://api.github.com/users/johnny-bowman/followers","following_url":"https://api.github.com/users/johnny-bowman/following{/other_user}","gists_url":"https://api.github.com/users/johnny-bowman/gists{/gist_id}","starred_url":"https:/[...]
