---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jimriddle1/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c890ed97750eef207b5725ef73271b77f64b34041c854d756491b11ffa19b99c"
      Last-Modified:
      - Sun, 05 Jun 2022 18:02:00 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1654717296'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '52'
    body:
      encoding: ASCII-8BIT
      string: '{"id":497100042,"node_id":"R_kgDOHaElCg","name":"little-esty-shop","full_name":"jimriddle1/little-esty-shop","private":false,"owner":{"login":"jimriddle1","id":99755958,"node_id":"U_kgDOBfIntg","avatar_url":"https://avatars.githubusercontent.com/u/99755958?v=4","gravatar_id":"","url":"https://api.github.com/users/jimriddle1","html_url":"https://github.com/jimriddle1","followers_url":"https://api.github.com/users/jimriddle1/followers","following_url":"https://api.github.com/users/jimriddle1/following{/other_user}","gists_url":"https://api.github.com/users/jimriddle1/gists{/gist_id}","starred_url":"https://api.github.com/users/jimriddle1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jimriddle1/subscriptions","organizations_url":"https://api.github.com/users/jimriddle1/orgs","repos_url":"https://api.github.com/users/jimriddle1/repos","events_url":"https://api.github.com/users/jimriddle1/events{/privacy}","received_events_url":"https://api.github.com/users/jimriddle1/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jimriddle1/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/jimriddle1/little-esty-shop","forks_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/forks","keys_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/events","assignees_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/merges","archive_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/deployments","created_at":"2022-05-27T18:30:59Z","updated_at":"2022-06-05T18:02:00Z","pushed_at":"2022-06-08T14:21:36Z","git_url":"git://github.com/jimriddle1/little-esty-shop.git","ssh_url":"git@github.com:jimriddle1/little-esty-shop.git","clone_url":"https://github.com/jimriddle1/little-esty-shop.git","svn_url":"https://github.com/jimriddle1/little-esty-shop","homepage":"","size":1596,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":40,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":40,"watchers":2,"default_branch":"main","temp_clone_token":null,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
- request:
    method: get
    uri: https://api.github.com/repos/jimriddle1/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6f96b3eb4af114fd313de2db65b5adb6cb2a0f04fb1aeb4fa282df2c7f8aa64"
      Last-Modified:
      - Sun, 05 Jun 2022 18:02:00 GMT
      X-Github-Media-Type:
      - github.v3; form[...]
- request:
    method: get
    uri: https://api.github.com/repos/jimriddle1/little-esty-shop/pulls?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b22a3220391eb01a0d8281b6677ddd12557a7acbda500cce54cbc42789444d91"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/497100042/pulls?state=all&page=2>; rel="next",
        <https://api.github.com/repositories/497100042/pulls?state=all&page=2>; rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Reset:
      - '1654717297'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/jimriddle1/little-esty-shop/pulls/76","id":961123153,"node_id":"PR_kwDOHaElCs45SZNR","html_url":"https://github.com/jimriddle1/little-esty-shop/pull/76","diff_url":"https://github.com/jimriddle1/little-esty-shop/pull/76.diff","patch_url":"https://github.com/jimriddle1/little-esty-shop/pull/76.patch","issue_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/issues/76","number":76,"state":"closed","locked":false,"title":"Add
        functionality for best day of revenue by merchant","user":{"login":"Deming-Matt","id":98700876,"node_id":"U_kgDOBeIOTA","avatar_url":"https://avatars.githubusercontent.com/u/98700876?v=4","gravatar_id":"","url":"https://api.github.com/users/Deming-Matt","html_url":"https://github.com/Deming-Matt","followers_url":"https://api.github.com/users/Deming-Matt/followers","following_url":"https://api.github.com/users/Deming-Matt/following{/other_user}","gists_url":"https://api.github.com/users/Deming-Matt/gists{/gist_id}","starred_url":"https://api.github.com/users/Deming-Matt/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Deming-Matt/subscriptions","organizations_url":"https://api.github.com/users/Deming-Matt/orgs","repos_url":"https://api.github.com/users/Deming-Matt/repos","events_url":"https://api.github.com/users/Deming-Matt/events{/privacy}","received_events_url":"https://api.github.com/users/Deming-Matt/received_events","type":"User","site_admin":false},"body":"Add
        functionality for best merchant day by revenue.","created_at":"2022-06-08T03:12:18Z","updated_at":"2022-06-08T03:12:57Z","closed_at":"2022-06-08T03:12:57Z","merged_at":"2022-06-08T03:12:56Z","merge_commit_sha":"e1abfb87de20f37e1c0945272b15a03765ff861b","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/pulls/76/commits","review_comments_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/pulls/76/comments","review_comment_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/issues/76/comments","statuses_url":"https://api.github.com/repos/jimriddle1/little-esty-shop/statuses/34599bf96aa7e590f294319ae2d7ecb0f4f02d5a","head":{"label":"jimriddle1:feat/best_merchant_day","ref":"feat/best_merchant_day","sha":"34599bf96aa7e590f294319ae2d7ecb0f4f02d5a","user":{"login":"jimriddle1","id":99755958,"node_id":"U_kgDOBfIntg","avatar_url":"https://avatars.githubusercontent.com/u/99755958?v=4","gravatar_id":"","url":"https://api.github.com/users/jimriddle1","html_url":"https://github.com/jimriddle1","followers_url":"https://api.github.com/users/jimriddle1/followers","following_url":"https://api.github.com/users/jimriddle1/following{/other_user}","gists_url":"https://api.github.com/users/jimriddle1/gists{/gist_id}","starred_url":"https://api.github.com/users/jimriddle1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jimriddle1/subscriptions","organizations_url":"https://api.github.com/users/jimriddle1/orgs","repos_url":"https://api.github.com/users/jimriddle1/repos","events_url":"https://api.github.com/users/jimriddle1/events{/privacy}","received_events_url":"https://api.github.com/users/jimriddle1/received_events","type":"User","site_admin":false},"repo":{"id":497100042,"node_id":"R_kgDOHaElCg","name":"little-esty-shop","full_name":"jimriddle1/little-esty-shop","private":false,"owner":{"login":"jimriddle1","id":99755958,"node_id":"U_kgDOBfIntg","avatar_url":"https://avatars.githubusercontent.com/u/99755958?v=4","gravatar_id":"","url":"https://api.github.com/users/jimriddle1","html_url":"https://github.com/jimriddle1","followers_url":"https://api.github.com/users/jimriddle1/followers","following_url":"https://api.github.com/users/jimriddle1/follo[...]
[...]
