<h1>Update Merchant Information</h1>

<%= form_with url:"/admin/merchants/#{@merchant.id}", method: :patch, local: true do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<%= form.submit "Submit Changes" %>
<% end %>
