<h1>Admin Merchant Index</h1>
<% @merchants.each do |merchant| %>
    <p><%=link_to merchant.name, "/admin/merchants/#{merchant.id}" %></p>
<% end %>

<%= link_to "Create New Merchant", "/admin/merchants/new" %>
