<h1>Admin Merchants</h1>

<div id = "Enabled" >
<h3> Enabled Merchants </h3>
<% @merchants.each do |merchant| %>
  <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %><br>
<% end %>
</div>

<div id = "Disabled" >
<h3> Disabled Merchants <h3>
</div>
