<h1>New Merchant Form</h1>

<%= render partial: 'form', locals: {model: [:admin, @merchant],
                                      url: "/admin/merchants",
                                      button_text: 'Submit'} %>