<h1><%= @merchant.name %></h1>

<p><%= link_to "Update #{@merchant.name}", "/admin/merchants/#{@merchant.id}/edit" %></p>

<% flash.each do |type, msg| %>
  <div id='flash'>
     <p><%= msg %></p>
  </div>
<% end %>

<p><%= link_to "Back to Merchants", "/admin/merchants" %></p>
