<p align="right">
  <%= link_to "Dashboard", admin_index_path %>&nbsp;&nbsp;
  <%= link_to "Merchants", admin_merchants_path %>&nbsp;&nbsp;
  <%= link_to "Invoices", admin_invoices_path %>&nbsp;&nbsp;
</p>