<div class="nav_bar">
  <div class="nav_elements">
      <div class="page_title"><%= "Admin Dashboard" %></div>
  </div>

  <div class="nav_elements">
    <p>
      <div class="link"><%= link_to "Dashboard", admin_index_path %></div>
      &nbsp;
      <div class="link"><%= link_to "Merchants", admin_merchants_path %></div>
      &nbsp;
      <div class="highlighted_link"><%= link_to "Invoices", admin_invoices_path %></div>
    </p>
  </div>
</div>