<div class="row">
  <div class="col"><h1><%= link_to 'Admin Dashboard', admin_path %></h1></div>

  <div class="col">
    <ul>
      <li><%= link_to 'Admin Merchants', admin_merchants_path %></li>
      <li><%= link_to 'Admin Invoices', admin_invoices_path %></li>
    </ul>
  </div>

</div>

<div class="row">
  <hr>
</div>