<p align="right"><%= link_to "Dashboard", "/merchant/:id/dashboard" %>&nbsp;&nbsp;<%= link_to "My Items", "/merchant/:id/items" %>&nbsp;&nbsp;<%= link_to "My Invoices", "/merchant/:id/invoices" %>&nbsp;  &nbsp;</p>
