<div>
  <h4> Items Ready to Ship </h4>
  <table style='width: 100%; border-color: white;'>
  <tr>
    <th>Item</th>
    <th>Invoice ID</th>
    <th>Created On</th>
  </tr>
    <% @shippable_items.each do |item| %>
      <tr>
        <td><%= "#{item.name}"%></td>
        <td>
          #<%= link_to "#{item.invoice_id}", "/merchants/#{@merchant.id}/invoices/#{item.invoice_id}" %>
        </td>
        <td><%= item.invoice_date.strftime('%A, %B %d, %Y') %></td>
      </tr>
    <% end %>
  </table>
<div>