---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/nickjacobsss/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c364296bf0ca78e7def0771b818e9f531921d69cf65ab1de83318e5d73bd3a68"
      Last-Modified:
      - Sat, 28 May 2022 00:05:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1654715359'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"id":497118114,"node_id":"R_kgDOHaFrog","name":"little-esty-shop","full_name":"NickJacobsss/little-esty-shop","private":false,"owner":{"login":"NickJacobsss","id":101067754,"node_id":"U_kgDOBgYr6g","avatar_url":"https://avatars.githubusercontent.com/u/101067754?v=4","gravatar_id":"","url":"https://api.github.com/users/NickJacobsss","html_url":"https://github.com/NickJacobsss","followers_url":"https://api.github.com/users/NickJacobsss/followers","following_url":"https://api.github.com/users/NickJacobsss/following{/other_user}","gists_url":"https://api.github.com/users/NickJacobsss/gists{/gist_id}","starred_url":"https://api.github.com/users/NickJacobsss/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NickJacobsss/subscriptions","organizations_url":"https://api.github.com/users/NickJacobsss/orgs","repos_url":"https://api.github.com/users/NickJacobsss/repos","events_url":"https://api.github.com/users/NickJacobsss/events{/privacy}","received_events_url":"https://api.github.com/users/NickJacobsss/received_events","type":"User","site_admin":false},"html_url":"https://github.com/NickJacobsss/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/NickJacobsss/little-esty-shop","forks_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/forks","keys_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/events","assignees_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/merges","archive_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/deployments","created_at":"2022-05-27T19:41:29Z","updated_at":"2022-05-28T00:05:03Z","pushed_at":"2022-06-08T05:34:52Z","git_url":"git://github.com/NickJacobsss/little-esty-shop.git","ssh_url":"git@github.com:NickJacobsss/little-esty-shop.git","clone_url":"https://github.com/NickJacobsss/little-esty-shop.git","svn_url":"https://github.com/NickJacobsss/little-esty-shop","homepage":"","size":1286,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":40,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":40,"watchers":3,"default_branch":"main","temp_clone_token":null,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
- request:
    method: get
    uri: https://api.github.com/repos/nickjacobsss/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b728ad1f3365fd033189a0a2c3692e511790f23259c0947afa1986322ed8ee0e"
      Last-Modified:
      - Sat, 28 May 2022 00:05:03 GMT
      X-Github-Media-Type:
      - github.v3; fo[...]
- request:
    method: get
    uri: https://api.github.com/repos/nickjacobsss/little-esty-shop/pulls?state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e32da0857f4fe84862d9297656827f08040465edaa03feb33bcd76822a55c35b"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/497118114/pulls?state=closed&page=2>;
        rel="next", <https://api.github.com/repositories/497118114/pulls?state=closed&page=2>;
        rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1654715358'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/pulls/111","id":961050660,"node_id":"PR_kwDOHaFros45SHgk","html_url":"https://github.com/NickJacobsss/little-esty-shop/pull/111","diff_url":"https://github.com/NickJacobsss/little-esty-shop/pull/111.diff","patch_url":"https://github.com/NickJacobsss/little-esty-shop/pull/111.patch","issue_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/issues/111","number":111,"state":"closed","locked":false,"title":"Admin
        dash stats top cust sh","user":{"login":"SaiHall","id":99222755,"node_id":"U_kgDOBeoE4w","avatar_url":"https://avatars.githubusercontent.com/u/99222755?v=4","gravatar_id":"","url":"https://api.github.com/users/SaiHall","html_url":"https://github.com/SaiHall","followers_url":"https://api.github.com/users/SaiHall/followers","following_url":"https://api.github.com/users/SaiHall/following{/other_user}","gists_url":"https://api.github.com/users/SaiHall/gists{/gist_id}","starred_url":"https://api.github.com/users/SaiHall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/SaiHall/subscriptions","organizations_url":"https://api.github.com/users/SaiHall/orgs","repos_url":"https://api.github.com/users/SaiHall/repos","events_url":"https://api.github.com/users/SaiHall/events{/privacy}","received_events_url":"https://api.github.com/users/SaiHall/received_events","type":"User","site_admin":false},"body":"Add
        active record method to customer for top five customers by successful transaction.
        User story #60. Feature tests at 100 by simple cov, model tests at 99.72 because
        of something in application record. New method fully tested on model and feature
        level.","created_at":"2022-06-08T00:39:06Z","updated_at":"2022-06-08T00:39:58Z","closed_at":"2022-06-08T00:39:58Z","merged_at":"2022-06-08T00:39:58Z","merge_commit_sha":"e3016a8f30e33999400e6abdc803d727589d2ca3","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/pulls/111/commits","review_comments_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/pulls/111/comments","review_comment_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/issues/111/comments","statuses_url":"https://api.github.com/repos/NickJacobsss/little-esty-shop/statuses/6bd8a57b58bb3385ca9e47e53a3207e63095035b","head":{"label":"NickJacobsss:admin_dash_stats_top_cust_SH","ref":"admin_dash_stats_top_cust_SH","sha":"6bd8a57b58bb3385ca9e47e53a3207e63095035b","user":{"login":"NickJacobsss","id":101067754,"node_id":"U_kgDOBgYr6g","avatar_url":"https://avatars.githubusercontent.com/u/101067754?v=4","gravatar_id":"","url":"https://api.github.com/users/NickJacobsss","html_url":"https://github.com/NickJacobsss","followers_url":"https://api.github.com/users/NickJacobsss/followers","following_url":"https://api.github.com/users/NickJacobsss/following{/other_user}","gists_url":"https://api.github.com/users/NickJacobsss/gists{/gist_id}","starred_url":"https://api.github.com/users/NickJacobsss/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NickJacobsss/subscriptions","organizations_url":"https://api.github.com/users/NickJacobsss/orgs","repos_url":"https://api.github.com/users/NickJacobsss/repos","events_url":"https://api.github.com/users/NickJacobsss/events{/privacy}","received_events_url":"https://api.github.com/users/NickJacobsss/received_events","type":"User","site_admin":false},"repo":{"id":497118114,"node_id":"R_kgDOHaFrog","name":"little-esty-shop","full_name":"NickJacobsss/little-esty-shop","private":false,"owner":{"login":"NickJacobsss","id":101067754,"node_id":"U_kgDOBgYr6g","avatar_url":"https://avatars.githubusercontent.com/u/101067754?v=4","gravatar_id":"","url":"https://api.github.com/users/NickJacobsss","html_url":"https://github.com/NickJacobsss","followers_url":"https://api.github.com/users/NickJacobsss/followers","following_url":"https://api.github.com/users/Nick[...]
