<h1><%= @merchant.name %>'s Dashboard</h1><br>
<p><%= link_to "#{@merchant.name} Item Index", "/merchants/#{@merchant.id}/items" %> </p>
<p><%= link_to "#{@merchant.name} Invoice Index", "/merchants/#{@merchant.id}/invoices" %></p><br>
<h2>Top Customers</h2>


