<h1><%= @merchant.name %>'s Dashboard</h1><br>
<h3><%= link_to "#{@merchant.name} Item Index", "/merchants/#{@merchant.id}/items" %> </h3>
<h3><%= link_to "#{@merchant.name} Invoice Index", "/merchants/#{@merchant.id}/invoices" %></h3>
