<h2><%= "#{@merchant.name}'s Invoices" %></h2>
<ol>
  <% @invoices.each do |invoice| %>
    <%= link_to "Invoice-##{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %><br/>
  <% end %>
</ol>
