<div class="page-defaults" id="shopId" >
  <h1><span>Little Esty Shop</span></h1>
</div>

<div class="page-defaults" id="splitSides">

  <div class="page-defaults" id="leftSide">
    <h2>Admin Dashboard</h2>
  </div>

  <div class="page-defaults" id="rightSide">
    <ul>
    </ul>
  </div>

</div>

<div class="page-defaults" id="splitSides">
  <div class="page-defaults" id="leftSide2">
    <h2>Invoices</h2>
    <% @invoices.each do |invoice| %>
      <p><%= link_to "Invoice ##{invoice.id}", "#{invoice.id}" %> </p>
    <% end %>
  </div>
</div>
