<%= render partial: "shared/admin_header" %>
<h1>Invoices</h1>


<% @invoices.each do |invoice| %>
  <div id="invoice-<%= invoice.id %>">
  <p><%=link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %></p>
  </div>
<% end %>