<%= render partial: 'admin/shared/header' %>
<h4>Invoices</h4>
<div id='invoice_body'>
  <% @invoices.each do |invoice| %>
    <p class='column'><%= link_to "Invoice ID #{invoice.id}", admin_invoice_path(invoice.id) %></p>
  <% end %>
</div>