<%= render partial: 'shared/home_link', locals: {path: "/"} %>
<%= render partial: 'shared/admin_links', locals: {path: "/admin"} %>

<h1>Admin Invoices Index</h1>

<% @invoices.each do |invoice| %>
   <div id="invoice-<%= invoice.id %>">
      <p>Invoice #<%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %></p>
   </div>
<% end %>
