<%= render partial: "header" %>

<ul>
  <% @invoices.each do |invoice| %>
  <p id="invoice-<%= invoice.id %>">
    Invoice #<%= link_to "#{invoice.id}", admin_invoice_path(invoice) %></p>
  <% end %>
</ul>
