<%= render partial: 'admin/header' %>


<% @invoices.each do |invoice| %>
<div id="invoice-<%= invoice.id %>">
  <p><%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice) %></p>
</div>
<% end %>
