<h1>Admin Invoices Index</h1>

<% @invoices.each do |invoice| %>
   <div id="invoice-<%= invoice.id %>">
      <%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %>
      
   </div>
<% end %>