<!DOCTYPE html>

<div class="">
  <h1 class="little_esty_shop">Little Esty Shop</h1>
</div>

<div class="nav_bar_wrapper">
  <h1 class="title_name">Admin Dashboard</h1>
  <div class="nav_bar_links">
    <p class="nav_bar_links_inline"><%= button_to "Dashboard", "/admin", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "Merchants", "/admin/merchants", method: :get %></p>
    <p class="nav_bar_links_inline"><%= button_to "Invoices", "/admin/invoices", method: :get %></p>
  </div>
</div>

<h2 class="title_wrapper">Invoices</h2>


<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Invoices Index Page</title>
    <h1>Admin Invoices Index Page</h1>
  </head>
  <body>
    <h3>All Invoces</h3>
    <% @invoices.each do |invoice| %>
      <%= link_to "Invoice ##{invoice.id}", "/admin/invoices/#{invoice.id}" %><br>
    <% end %>
  </body>
</html>
