<div class="container text-center">
<h1>ADMIN Invoices</h1>
<% @invoices.each do |invoice| %>
  <p><%=link_to "Invoice Number: #{invoice.id}", "/admin/invoices/#{invoice.id}" %>
    <%="Order Status: #{invoice.status}" %></p>
<% end  %>
</div>
