<h1> Admin Invoices Index </h1>

<div><class = "adminInvoicesIndex">
<p> Invoices Index</p>
  <%@invoices.each do |invoice|%>
    <p><a href=<%= admin_invoice_path(invoice)%>><%=invoice.id%></a></p>
  <%end%>
</div>