<section>
  <h3>Invoice: </h3>
  <%= @invoice.id %>
  <%= @invoice.status %>
  <%= @invoice.date %>
</section>

<section>
  <h3>Customer: <%= @invoice.customer_name %> </h3>
  <ul>
    <li>Address: 123 Drury Ln</li>
    <li>Nowhere, ID 10001</li>
  </ul>
</section>
