<%= render partial: "admin_shared/header", locals: { subtitle: "Admin Dashboard" } %>

<h3 style="text-align:center;background-color:whitesmoke;border-top-style:solid">Invoice #<%= @invoice.id %></h3>

