<h1>Invoice <%= @invoice.id %> Page</h1>
<%="Invoice ID: #{@invoice.id}, Invoice Status: #{@invoice.status}, Invoice Created date: #{@invoice.created_at.strftime("%A, %B %e, %Y")}, Customer Name: #{@invoice.customer.first_name} #{@invoice.customer.last_name}"%>

<h4>Items on Invoice</h4>
<% @invoice_items.each do |item| %>
  <p><%= item.name %></p>
<% end %>