<h1>Admin Invoices Show</h1>

<p>Invoice ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Customer: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}"%></p>