<section id=invoice-information>
  <ul>
    <li>Invoice id: <%= "#{@invoice.id}" %></li>
    <li>Invoice Status: <%= "#{@invoice.date}" %></li>
    <li>Customer Name: <%= "#{@invoice.customer_name}" %></li>
  </ul>
</section>
