<h1>Invoice <%= @invoice.id %></h1>

<p>Status: <%= @invoice.status %></p>
<p>Date Created: <%= @invoice.created_at.strftime("%A, %B %e, %Y") %></p>
<p>Customer Name: <%= "#{@invoice.customer.first_name} #{@invoice.customer.last_name}"%></p>
