<p>ID: <%=@invoice.id%></p>
<p>Status: <%=@invoice.status%></p>
<p>Created on <%=@invoice.created_at.strftime("%A, %B %e, %Y")%></p>
<p>Customer: <%="#{@customer.first_name} #{@customer.last_name}"%></p>