
<p>Invoice ID: <%= @invoice.id%></p>
<p>Invoice Status: <%= @invoice.status%></p>
<p>Invoice Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y")%></p>
<p>Invoice's Customer Name: <%= @invoice.customer.name %></p>
