<h3>Admin Dashboard</h3>
<div class='nav-links'>
    <span id='1' class='top-links'><%= link_to("Dashboard", admin_index_path) %></span>
    <span id='2' class='top-links'><%= link_to("Merchants", admin_merchants_path) %></span>
    <span id='3' class='top-links'><%= link_to("Invoices", admin_invoices_path) %></span>
</div>

<script>
    var pathArray = window.location.pathname.split('/');
    console.log(pathArray)
    if (pathArray[pathArray.length-1] == 'merchants') {
        document.getElementById('2').classList.add("active")
    } else if (pathArray[pathArray.length-1] == 'invoices') {
       document.getElementById('3').classList.add("active")
    } else {
        document.getElementById('1').classList.add("active")
    }
</script>