<div class="flex-parent">
  <div class="flex-child"><h2>Admin Dashboard</h2></div>
  <div class="flex-child">
    <div><%= link_to "Admin Merchants Index", admin_merchants_path %></div>
    <div><%= link_to "Admin Invoices Index", admin_invoices_path %></div>
  </div>
</div>