<div class="links">
  <button class="button4"><%= link_to "Admin Dashboard", "/admin", style: "text-decoration:none" %> </button>
  <button class="button4"><%= link_to "Merchants", "/admin/merchants", style: "text-decoration:none" %></button>
  <button class="button4"><%= link_to "Invoices", "/admin/invoices", style: "text-decoration:none" %></button>
</div>
