<div class="navbar">
  <ul>
    <li><%= link_to "Admin Dashboard", "/admin" %></li>
    <li><%= link_to "Admin Merchants Index", "/admin/merchants" %></li>
    <li><%= link_to "Admin Invoices Index", "/admin/invoices" %></li>
  </ul>
</div>
