<h1 align="center">
  <strong>Little Esty Shop</strong>
</h1>

<br>
<div id="nav-bar">
  <h2 align="left">Admin Dashboard</h2>
  <div align="right">
    <p ><%= link_to "Dashboard", '/admin' %>
    <%= link_to "Merchants", '/admin/merchants' %>
    <%= link_to "Invoices", '/admin/invoices' %></p>
  </div>
</div>