<% if flash[:notice] %>
  <div class="alert alert-notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>
