<% if flash[:notice] %>
  <div class="alert alert-notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:created] %>
  <div class="alert alert-created">
    <%= flash[:created] %>
  </div>
<% end %>

<% if flash[:failed] %>
  <div class="alert alert-failed">
    <%= flash[:failed] %>
  </div>
<% end %>
