<% @contributors.each do |contributor| %>
<ul>
    <li>Github username: <%= contributor.login %></li>
    <li>Github commits: <%= contributor.contributions %></li>
  </ul>
<% end %>
<p> Number of Pull Requests: <%= @pull_requests.first.number %></p>