    <header>
      <div class="header-image">
        <img src = "<%=@logo.thumb_url%>" id="logo_img" height="50", width="auto">
        <span>Likes: <%= @logo.likes %></span>
      </div>
      <h1 class="header-title"><span>Little Esty Shop<span></h1>
    </header>
