<div class="links">
  <ul>
    <button class="button4"><%= link_to "Dashboard", "/merchants/#{@merchant.id}/dashboard", style: "text-decoration:none" %></button>
    <button class="button4"><%= link_to "My Items", "/merchants/#{@merchant.id}/items", style: "text-decoration:none" %></button>
    <button class="button4"><%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices", style: "text-decoration:none" %></button>
  </ul>
</div>
