<h1 align="center">
  <strong>Little Esty Shop</strong>
</h1>

<br>
<h2 align="left"><%= merchant.name %></h2>
<div align="right">
  <p ><%= link_to "Dashboard", "/merchants/#{merchant.id}/dashboard" %>
  <%= link_to "My Items", "/merchants/#{merchant.id}/items" %>
  <%= link_to "My Invoices", "/merchants/#{merchant.id}/invoices" %></p>
</div>