<nav class="navbar">
  <div class="navbar-left">
    <a class="navbar-brand"><%= @merchant.name %></a>
  </div>
  <div class="navbar-right">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"><%= link_to 'Dashboard', merchant_dashboard_path(@merchant) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to 'My Items', merchant_items_path(@merchant) %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to 'My Invoices', merchant_invoices_path(@merchant) %></a>
      </li>
    </ul>
  </div>
</nav>