<h1> Edit Merchant <%= @merchant.id %> </h1>


<%= form_with url:admin_merchant_path(@merchant.id), model: @merchant, local: true do |form|  %>
   <%= render 'merchant_form', form: form %>
<% end %>

