<h2>Update Merchant:</h2>

<%= render partial: 'admin_merchant_form', locals: {
                                              model: @merchant, 
                                              url: admin_merchant_path(@merchant.id) 
                                              } %>



