<div class="container">
  <h2>Update <%= @merchant.name %></h2>

  <%= render partial: 'form', locals: { url: admin_merchant_path(@merchant),
                                      class: 'merchant_form',
                                      local: true } %>

</div>
