<div class="container" style="width: 30%">
<div class="col-sm", style='padding-left: 25px'>
      <h1><%= "Edit #{@merchant.name}" %></h1><br>
      <%= render partial: 'partials/admin_merchant_form' %>
     </div>
  </div>