<h1> Edit Merchant Info </h1>




<%= render partial: 'form', locals: { 
                                      path: admin_merchant_path,
                                      method: :patch, 
                                      name: @merchant.name, 
                                      button_text: "Submit"} %>