<h1>All Merchants</h1>

<% @merchants.each do |merchant| %>
<li id="merchant-<%= merchant.id%>"><%= merchant.name %> - status: <%= merchant.status %></li>
<% end %>

<%= link_to "Add New Merchant", "/admin/merchants/new" %>
