<div>
  <header class="header">
    <h1>Merchant Index - Admin</h1>
  </header>
  <ul class="index">
    <% @merchants.each do |merchant| %>
      <p><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></p>
    <% end %>
  </ul>
</div>
