<h2>Admin Merchants Index</h2>



<div id="enabled_merchants"> 
  <h3> Enabled Merchants  </h3>

  <% @merchants.each do |merchant|  %>
    <div id="merchant-<%= merchant.id %>">
      <p><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %></p>
    </div>
  <% end %> 
  
</div>

<div id="disabled_merchants">
  <h3> Disabled Merchants </h3>

</div>




  