<h1>Merchants Dashboard</h1>

<div id="merchants">
  <% @merchants.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>">
      <h2><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h2>
    </div>
  <% end %>
</div>