<%= render 'partials/navbar_admin' %><br>

<h2>Admin Merchants Index</h2>

<div class="merchant_index">
  <ul><% @merchants.each do |merchant| %>
    <li><%= merchant.name %></li>
  <% end %></ul>
</div>
