  <h1>Welcome to the Merchant Admin Portal</h2>
  <table style="width: 100%">
    <tr>
      <th>Merchant ID</th>
      <th>Merchant Name</th>
      <th>Status</th>
      <th>Change Status</th>
    </tr>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.id %></td>
        <td><%= link_to "#{merchant.name}", "#{request.url}/#{merchant.id}", method: :get %></td>
        <td><% if merchant.enabled == true %>
              <p> Enabled </p>
            <% else %>
              <p> Disabled </p>
            <% end %>
        </td>
        <td>
          <% if merchant.enabled == true %>
            <button><%= link_to "Disable", "#{request.url}/#{merchant.id}", method: :post %>
          <% else %>
            <button><%= link_to "Enable", "#{request.url}/#{merchant.id}", method: :post %>
          <% end %>
      </tr>
    <% end %>
</table>
