<h2>Admin Merchants Index</h2><br>


<% @admin_merchants.each do |merchant| %>
  <div id="admin_merchants-<%=merchant.id%>">
    <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
    <% if merchant.status == true %>
      <section id="enabled_merchants">
        <%= button_to "Disable", admin_merchant_path(merchant),
        params: { status: :disable }, method: :patch, local: true %>
      </section>
    <% else %>
      <section id="disabled_merchants">
        <%= button_to "Enable", admin_merchant_path(merchant),
        params: { status: :enable }, method: :patch, local: true %>
      </section>
    <% end %>
  </div>
<% end %>
