<h3>Merchants</h3>

<% @merchants.each do |merchant| %>
  <section id="merchant-<%= merchant.id %>">
    <li><%= link_to "#{merchant.name}" , admin_merchant_path(merchant) %></li><br>
  </section>
<% end %>
