<h1>All Merchants</h1>
<%= link_to "Add New Merchant", "/admin/merchants/new" %>
<br>
<% @merchants.each do |merchant| %>
<li><%= merchant.name %> - status: <%= merchant.status %></li>
<% end %>
<br>
<%= link_to "Add New Merchant", "/admin/merchants/new" %>
