<h1>Merchants</h1>
<h2>Admin</h2>

<% if @merchants.any? %>
  <% @merchants.each do |merchant| %>
    <ul>
      <div id=<%= "admin-merchants-#{merchant.id}" %> >
        <li>
          <%= link_to merchant.name, admin_merchant_path(merchant.id) %>
          <%= "Status: #{merchant.status}" %>
          <%= button_to "Disable/Enable", admin_merchant_path(merchant.id), method: :patch, params: {status: merchant.status} %>
        </li>
      </div>
    </ul>
  <% end %>
<% end %>