<h1>All Merchants</h1>

<div id="new-link-top"><%= link_to "Add New Merchant", "/admin/merchants/new" %></div>

<br>
<% @merchants.each do |merchant| %>
<li><%= merchant.name %> - status: <%= merchant.status %></li>
<% end %>
<br>

<div id="new-link-bottom"><%= link_to "Add New Merchant", "/admin/merchants/new" %></div>

