<h1>ADMIN: MERCHANTS</h1>

  <% @merchants.each do |merchant| %>
    <section id="admin-merchant-<%= merchant.id %>">
      <p>
        <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %>
        <% if merchant.status == "disabled" %>
          <%= button_to "Enable", admin_merchant_path(merchant.id), method: :patch, local: true, params: {"merchant" => {status: "enabled"}} %>
        <% elsif merchant.status == "enabled" %>
            <%= button_to "Disable", admin_merchant_path(merchant.id), method: :patch, local: true, params: {"merchant" => {status: "disabled"}} %>
        <% end %>
      </p>
    </section>
  <% end %>
