<h1>Admin Merchants</h1>



<h3>Enabled Merchants</h3>


<% @enabled.each do |enabled_merchant| %>
<section id="enabled_merchants-<%= enabled_merchant.id %>">

  <%= enabled_merchant.name %><br>

</section>
<% end %>


<br><br>

<h3>Disabled Merchants</h3>
<% @disabled.each do |disabled_merchant| %>
<section id="disabled_merchants-<%= disabled_merchant.id %>">
  <%= disabled_merchant.name %><br>
</section>
<% end %>
