<h1>Admin - Merchants</h1>

<section>
  <% @merchants.each do |merchant|%>
    <section id="merchant-<%= merchant.id %>">
      <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %>
    </section>
  <% end %>
</section>