<h1>Admin Merchants Index</h1>
<ul>
<%@merchants.each do |merchant|%>
    <div id="<%=merchant.id%>">
        <li> <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %> 
            <%if merchant.status == "enabled" %> 
                <%=button_to "Disable", 'merchant_path' %>
            <% else %>
                <%=button_to "Enable", 'edit_merchant_path' %>
            <% end %>
        </li>
    </div>
        <br>
        <hr>
<% end %>
</ul>