<h1>Merchants Index</h1>
<h2>All Merchants</h2>
<ul id="all-merchants">
<% @merchants.each do |merchant| %>
  <li id="merchant-<%= merchant.id %>"><%= link_to merchant.name, admin_merchant_path(merchant.id) %><li>
<% end %>
</ul>
