<h1>Welcome to the Merchant Admin Portal</h2><br>

<%= button_to "Add a New Merchant", "/admin/merchants/new", method: :get %><br>
<div class="row">
  <div class="column" style="width: 50%">
    <h3 style="text-align: center;">Browse Merchants</h3><br>
    <h5 style="text-align: center;">Enabled Merchants</h5><br>
      <%= render partial: 'partials/admin_merchants_index', locals: { data_set: @merchants_enabled } %><br>
    <h5 style="text-align: center;">Disabled Merchants</h5><br>
      <%= render partial: 'partials/admin_merchants_index', locals: { data_set: @merchants_disabled } %>
  </div>
  <div class="column" style="width: 50%">
    <h3 style="text-align: center;">View Merchant Statistics</h3><br>
    <%= render partial: 'partials/top_merchants' %>
  </div>
</div>
