<h1>Admin Merchants Index page</h1>

<% @merchants.each do |merchant| %>
  <div id="merchant-<%=merchant.id%>">
    <p><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}", method: :get%></p>
  </div>
<% end %>
