<h1>All Merchants</h1>
<a href="/admin/merchants/new"> Add New Merchant </a>
<br>
<% @merchants.each do |merchant| %>
<li><%= merchant.name %> - status: <%= merchant.status %></li>
<% end %>
<br>
<a href="/admin/merchants/new"> Add New Merchant </a>
