<h1>Merchants Index</h1>
<ul>
<% @merchants.each do |merchant| %>
<li> <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %> </li>
<% end %>
</ul>

<div> <%= link_to "Create a new merchant", new_admin_merchant_path %> </div>

