<h1> All Merchants </h1>
</br>

<h2> Enabled Merchants </h2>
<% @merchants.enabled_merchants.each do |merchant| %>
  <section id="enabled-admin-merchants-<%= merchant.id %>">
  <h3> <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %> <h3>
  </section>
<% end %>
</br>

<h2> Disabled Merchants </h2>
<% @merchants.disabled_merchants.each do |merchant| %>
  <section id="disabled-admin-merchants-<%= merchant.id %>">
  <h3> <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %> <h3>
  </section>
<% end %>
</br>