<h1> Admin merchants index page </h1>

<div id="merchant-list">
  <% @merchants.each do |merchant| %>
    <p id="merchant-<%=merchant.id%>">
      <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %>
    </p>
  <% end %>
</div>

<h1> Top 5 Merchants By Revenue </h1>

<div id="top-merchants">
  <% @top_5_merchants.each_with_index do |merchant,index|%>
    <p id="top-merchant-<%=index+1%>">
      <%= merchant.name %>
    </p>
    <p>
      Total Revenue: 
    </p>
  <% end %>
</div>