<h1>Admin Merchants</h1><br>
<% @merchants.each_with_index do |merchant, index| %>
  <div id="merchants<%= index %>">
  <h3> <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h3>
  </div>

  <div id="top-five-merchants">
  <h3>Top Merchants</h3>
  <% @merchants.top_five_merchants.each do |merchant| %>
    <ol>
      <li><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %> - <%= number_to_currency(merchant.revenue.fdiv(100)) %> in sales </li>
    </ol>
  <% end %>
</div>
<% end %>
