<h2>Admin Merchants Index</h2><br>

<% @admin_merchants.each do |merchant| %>
  <section id="admin_merchants-<%=merchant.id%>">
    <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
  </section>
<% end %>
