<h4>Enabled Merchants</h4>

<% @merchants.each_with_index do |merchant, index| %>
    <div id = "merchant-<%=index %>">
        <%= link_to merchant.name, admin_merchant_path(merchant) %>
        <br>
    </div>
<% end %>