<h2> Add a Merchant </h2>

<%= render partial: 'admin_merchant_form', locals: {
                                              model: @merchant, 
                                              url: admin_merchants_path 
                                              } %>
