<h1> New Admin Merchant Page </h1>

<%= form_with url: "/admin/merchants", method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Submit" %>
<% end %>
