<h1> New Merchant Page </h1>

<%= form_with url: "/admin/merchants/", method: :post, local: true do |form| %>

  <p id="merchant-name-field">
    <%= form.label :merchant_name, "Merchant Name" %>
    <%= form.text_field :merchant_name%>
  <p>

  <p id="submit-button">
    <%= form.submit "Submit"%>
  </p>
  
<% end %>