<h2>New Merchant</h2>

<div class="container">

  <%= render partial: 'form', locals: { url: admin_merchants_path,
                                      class: 'merchant_form',
                                      local: true} %>

</div>
