<h1>New Admin Merchant</h1>

<%= form_with url: admin_merchants_path, method: :post, local: true do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.submit 'Create' %>

<% end %>

