<h1><center>Admin Merchant Show</center></h1>

<%  if flash[:alert] %>
<div class="notice"><%= flash[:alert] %></div>
<% end %>
<%= @merchant.name %>
<%= link_to "Update Merchant", "/admin/merchants/#{@merchant.id}/edit" %>
