<header id="merchant_name">
  <h1><%= @merchant.name %></h1>
</header>
<section id="merchant_edit">
  <%= link_to "Edit Merchant Information for #{@merchant.name}", edit_admin_merchant_path(@merchant) %>
</section>

