<%= render 'partials/navbar_admin' %><br>

<div class="container">

  <h2><%= @merchant.name %>'s Admin Page</h2><br>
  <h5><%= link_to "Update Merchant", edit_admin_merchant_path(@merchant) %></h5>

</div>
