<%= render "shared/admin_header" %>

<div class="center-header">Merchant Name: <%= @merchant.name %></div>

<span><%= link_to "Update Merchant Information", edit_admin_merchant_path(@merchant.id) %></span>
