<h1>Little Esty Shop</h1>
<p>
  The time is now: <%= Time.now %>
</p>

  <%= link_to "Admin Merchants Index", 'admins_merchants_path' %><br>
  <%= link_to "Admin Invoices Index", 'admins_invoices_path' %><br>
