<header>
  <div class = "subHead" >
    <p class = "rightSection">
      Admin Links<br/>
      <%= link_to "Dashboard", admin_dashboard_path %>
      <%= link_to "Merchants", admin_merchants_path %>
      <%= link_to "Invoices", admin_invoices_path %>
    </p>
  </div>
</header>

<body>
  <h1> Welcome to Little Esty Shop! </h1>
</body>
