<h1>Lil Esty is the Betsy</h1>
<br>
<%= link_to "Example Merchant", "/merchants/1/dashboard", method: :get%><br><br>
<%= link_to "Example Merchant's Items", "/merchants/1/items", method: :get%><br><br>
<%= link_to "Example Merchant's Invoices", "/merchants/1/invoices", method: :get%><br><br>
<%= link_to "Merchant Roll Out Page", "https://www.tomorrowtides.com/merchant_rickroll_out_page.html" %>