<section id="status-<%= object.id%>">
  <%= form_with model: [@merchant, object], method: :patch, local: true do |f| %>
    <%= f.select :status, options, selected: object.status%>
    <%= f.submit text %>
  <% end %>
</section>
