<%= render partial: 'merchants/shared/header' %>

<div class='merchant_invoices_index'>
  <h4>My Invoices</h4>
  <% @invoices.each do |invoice| %>
    <p class='column'>Invoice #<%= link_to invoice.id, merchant_invoice_path(@merchant.id, invoice.id) %></p><br>
  <% end %>
</div>