<%= render 'shared/nav_bar_merchant' %>
<br>
<section id="my_invoices">
  <h3>My Invoices</h3>
  <% @merchant.invoices.each do |invoice| %>
    <div>
    <p>Invoice #<%= link_to invoice.id, merchant_invoice_path(@merchant, invoice) %></p>
    </div>
  <% end %>
</section>