<div id="merchants_nav">
  <span id="merchant_name">Merchant: <%= merchant.name %></span>
  <ul id="nav_buttons">
    <% if current_page?(merchant_dashboard_index_path(merchant.id)) %>
      <li class="selected_nav_button">Dashboard</li>
    <% else %>
      <%= link_to merchant_dashboard_index_path(merchant.id) do %>
        <li class="nav_button">Dashboard</li>
      <% end %>
    <% end %>

    <% if current_page?(merchant_items_path(merchant.id)) %>
      <li class="selected_nav_button">My Items</li>
    <% else %>
      <%= link_to merchant_items_path(merchant.id) do %>
        <li class="nav_button">My Items</li>
      <% end %>
    <% end %>
    
    <% if current_page?(merchant_invoices_path(merchant.id)) %>
      <li class="selected_nav_button">My Invoices</li>
    <% else %>
      <%= link_to merchant_invoices_path(merchant.id) do %>
        <li class="nav_button">My Invoices</li>
      <% end %>  
    <% end %>
  </ul>
</div>