<div id="merchants_nav">
  <span id="merchant_name">Merchant: <%= merchant.name %></span>
  <ul id="nav_buttons">
    <% if current_page?(merchant_dashboard_path(merchant.id)) %>
      <li class="selected_nav_button">Dashboard</li>
    <% else %>
      <li class="nav_button"><%= link_to 'Dashboard', merchant_dashboard_path(merchant.id) %></li>
    <% end %>

    <% if current_page?(merchant_items_path(merchant.id)) %>
      <li class="selected_nav_button">My Items</li>
    <% else %>
      <li class="nav_button"><%= link_to 'My Items', merchant_items_path(merchant.id)  %></li>
    <% end %>
    
    <% if current_page?(merchant_invoices_path(merchant.id)) %>
      <li class="selected_nav_button">My Invoices</li>
    <% else %>
      <li class="nav_button"><%= link_to 'My Invoices', merchant_invoices_path(merchant.id)  %></li>  
    <% end %>
  </ul>
</div>