<h1><%= @merchant.name %>'s Dashboard Index</h1>

<p>Name: <%= @merchant.name %></p>

<p><%= link_to "Items Index", "/merchants/#{@merchant.id}/items" %></p>
<p><%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices" %></p>