<h1>Welcome to your dashboard, <%= @merchant.name %></h1>

<%= link_to "My Merchant Items Index", "/merchants/#{@merchant.id}" %> <br>
<%= link_to "My Merchant Invoices Index", "/merchants/#{@merchant.id}/invoices" %> <br>
