<%= render partial: 'shared/merchant_search', locals: {path: "/merchants"} %>

<h1>Little Etsy Shop Merchants</h1>

<% @merchants.each_with_index do |merchant, index|%>
<div id="merchant-<%= index %>">
  <h3><%= link_to "#{merchant.name}", "/merchants/#{merchant.id}/dashboard" %></h3>
</div>
<% end %>
