<%= @merchant.name %>
<%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %>
<%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %>

<div id='top_customers'>
    <ol>
    <% @merchant.top_merchant_transactions.each do |customer| %>
        <li><%= customer.full_name %></li>
    <% end %>
    </ol>
</div>