<%= @merchant.name %>
<%= link_to "#{@merchant.name} items", "/merchants/merchant_id/items" %>
<%= link_to "#{@merchant.name} invoices", "/merchants/merchant_id/invoices" %>
<section id='packaged'><h2>Items Ready to Ship</h2></section>
<% @merchant.pending_invoices.each do |invoice| %>
  <% invoice.items.each do |item| %>
    <%= item.name %>
  <% end %>
<% end %>