<h1>Merchant Dashboard</h1>

<p><%= @merchant.name %></p>
  <%= link_to "#{@merchant.name}'s Items", merchant_items_path(@merchant) %>
  <%= link_to "#{@merchant.name}'s Invoices", merchant_invoices_path(@merchant) %>
