<h1>Little Esty Shop</h1>

<div id = "merchant">
<%=@merchant.name %>
</div>

<h2>Top 5 Customers by Total Number of Succesful Transactions:</h2>
  <% @merchant.customers.top_five_by_transaction_count.each do |customer| %>
    <p> Name: <%= customer.first_name %> <%= customer.last_name %> <%= customer.transactions.count %></p>
  <% end %>
