<h1><%= @merchant.name %></h1>
<p align="right">
    <%= link_to "My Items", "/merchants/#{@merchant.id}/items" %>
    &nbsp
    <%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %>
</p>
