<h1><%= @merchant.name %> </h1>
<br>
<h3>
  <a href="/merchants/<%= @merchant.id %>/items">
    <%= @merchant.name %>'s Items
  </a>
</h3><br/>
<h3>
  <a href="/merchants/<%= @merchant.id %>/invoices">
    Invoices
  </a>
</h3>
