<h1>Admin Merchants Index:</h1>
<% @merchants.each do |m| %>
  <%= link_to "#{m.name}", "/admin/merchants/#{m.id}", method: :get %>
  <% if m.status == "disabled" %>
    <%= button_to "Enable #{m.name}", "/admin/merchants/#{m.id}?status=enabled", method: :patch %>
  <% elsif m.status == "enabled" %>
    <%= button_to "Disable #{m.name}", "/admin/merchants/#{m.id}?status=disabled", method: :patch %>
  <% end %>
<% end %>
