---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hadyematar23/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e795d941f88d97470b6dfe2ea685f5ef8c0dee3353c651bf45d206fa27241a5a"
      Last-Modified:
      - Tue, 21 Feb 2023 23:55:33 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1677641178'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"id":604852371,"node_id":"R_kgDOJA1Qkw","name":"little-esty-shop","full_name":"hadyematar23/little-esty-shop","private":false,"owner":{"login":"hadyematar23","id":115317749,"node_id":"U_kgDOBt-b9Q","avatar_url":"https://avatars.githubusercontent.com/u/115317749?v=4","gravatar_id":"","url":"https://api.github.com/users/hadyematar23","html_url":"https://github.com/hadyematar23","followers_url":"https://api.github.com/users/hadyematar23/followers","following_url":"https://api.github.com/users/hadyematar23/following{/other_user}","gists_url":"https://api.github.com/users/hadyematar23/gists{/gist_id}","starred_url":"https://api.github.com/users/hadyematar23/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hadyematar23/subscriptions","organizations_url":"https://api.github.com/users/hadyematar23/orgs","repos_url":"https://api.github.com/users/hadyematar23/repos","events_url":"https://api.github.com/users/hadyematar23/events{/privacy}","received_events_url":"https://api.github.com/users/hadyematar23/received_events","type":"User","site_admin":false},"html_url":"https://github.com/hadyematar23/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/hadyematar23/little-esty-shop","forks_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/forks","keys_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/events","assignees_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/merges","archive_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/hadyematar23/little-esty-shop/deployments","created_at":"2023-02-21T23:28:46Z","updated_at":"2023-02-21T23:55:33Z","pushed_at":"2023-03-01T00:14:25Z","git_url":"git://github.com/hadyematar23/little-esty-shop.git","ssh_url":"git@github.com:hadyematar23/little-esty-shop.git","clone_url":"https://github.com/hadyematar23/little-esty-shop.git","svn_url":"https://github.com/hadyematar23/little-esty-shop","homepage":"","size":1358,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","temp_clone_token":null,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
- request:
    method: get
    uri: https://api.github.com/repos/hadyematar23/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74330479bea1b8090b00348470f79bb47a1740eba952b87d1371ed416695d89c"
      Last-Modified:
      - Tue, 21 Feb 2023 23:55:33 GMT
      X-Github-Media-Type:
      - github.v3; fo[...]
