---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hadyematar23/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b8d1a9d6bbdf28e7b2be19b2d0a48d88520855e58bfb0a9b9eb1006a5c0a9315"
      Last-Modified:
      - Tue, 21 Feb 2023 23:55:33 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1677624423'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"hadyematar23","id":115317749,"node_id":"U_kgDOBt-b9Q","avatar_url":"https://avatars.githubusercontent.com/u/115317749?v=4","gravatar_id":"","url":"https://api.github.com/users/hadyematar23","html_url":"https://github.com/hadyematar23","followers_url":"https://api.github.com/users/hadyematar23/followers","following_url":"https://api.github.com/users/hadyematar23/following{/other_user}","gists_url":"https://api.github.com/users/hadyematar23/gists{/gist_id}","starred_url":"https://api.github.com/users/hadyematar23/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hadyematar23/subscriptions","organizations_url":"https://api.github.com/users/hadyematar23/orgs","repos_url":"https://api.github.com/users/hadyematar23/repos","events_url":"https://api.github.com/users/hadyematar23/events{/privacy}","received_events_url":"https://api.github.com/users/hadyematar23/received_events","type":"User","site_admin":false,"contributions":55},{"login":"BrianZanti","id":8962411,"node_id":"MDQ6VXNlcjg5NjI0MTE=","avatar_url":"https://avatars.githubusercontent.com/u/8962411?v=4","gravatar_id":"","url":"https://api.github.com/users/BrianZanti","html_url":"https://github.com/BrianZanti","followers_url":"https://api.github.com/users/BrianZanti/followers","following_url":"https://api.github.com/users/BrianZanti/following{/other_user}","gists_url":"https://api.github.com/users/BrianZanti/gists{/gist_id}","starred_url":"https://api.github.[...]
[...]
