#top_customers {
  float: right;
  margin: 0 1.5%;
  width: 40%;
}

#items_ready_to_ship {
 float: left;
 margin: 0 1.5%;
 width: 50%;
}

h3 {
  background-color: lightblue;
}

#welcome_header {
  text-align: center;
  background-color: lightblue;
}

#merchant_navbar {
  margin: 0 1.5%;
}