<h1><%= @merchant.name %>'s Items </h1>
<% @merchant.items.each do |item| %>
  <section id="item-<%=item.id%>">
  <h2><%= link_to("#{item.name}", "/merchant/#{@merchant.id}/items/#{item.id}") %></h2>
  </section>
<% end %>
