<h1>My Items</h1>

<% @merchant.items.each do |item| %>
  <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
<% end %>

<div id='new-item'>
<%= link_to "Create a new item", "/merchants/#{@merchant.id}/items/new" %>
</div>
