<h1>Merchant Items Index</h1>

<h2>Enabled Merchant Items</h2>
<section id='enabled-merchant-items'>
  <%= render partial: 'merchant_items', locals: {merchant_items: @merchant.enabled_items} %>
</section>

<h2>Disabled Merchant Items</h2>
<section id='disabled-merchant-items'>
  <%= render partial: 'merchant_items', locals: {merchant_items: @merchant.disabled_items} %>
</section>

<h2> <%= link_to "Create New Item", new_merchant_item_path(@merchant.id) %></h2>