<h1>MerchantItemsIndex</h1>
<%= link_to 'Create New Item', "/merchants/#{@merchant.id}/items/new" %>
<ul>
  <% @merchant.items.each_with_index do |item, index| %>
    <li id="item-<%=index%>">
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}"  %>
    </li>
  <% end %>
</ul>
