<h1><%= "#{@merchant.name}'s" %></h1>
<h2>ITEMS INDEX</h2>

<% @items.each do |item|%>
<section id=<%="#{item.name}"%>>
<strong><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></strong><br>
</section> 
<% end %>

