<%@merchant.items.each do |item|%>
<div id="item-<%= item.id %>">
  <p><%= link_to item.name, merchant_item_path(@merchant, item) %>
  <% if item.status = 0 %>
    <%= button_to  "Enable", "/merchant/#{@merchant.id}/item/#{item.id}", method: :patch, params: { :status => 1 } %>
  <% else %>
    <%= button_to  "Disable", "/merchant/#{@merchant.id}/item/#{item.id}", method: :patch, params: { :status => 0 } %>
  <% end %><p>
</div>
<% end %>