<h1> <%= @merchant.name %>'s Items  </h1>

<% @merchant.items.each do |item| %>
    <li>
      Name: <a href="/merchants/<%=@merchant.id%>/items/<%= item.id %>"> <%= item.name %> </a>
    </li>
<% end %>
