<h1><%= @merchant.name %></h1>

<div id="items-section">
  <ul>
  <% @merchant.items.each do |item| %>
    <li id="item-<%= item.id %>">
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
    </li>
  <% end %>
  </ul>
</div>