<h1>My Items</h1>
<section id="merchant-items">
  <ul>
    <% @merchant.items.each do |item| %>
      <li>
        <%= link_to "#{item.name}", merchant_item_path(@merchant, item), method: :get %>
      </li>
    <% end %>
  </ul>
</section>
