<%= render partial: '/merchants/merchants-nav', locals: {merchant: @merchant} %>
<h2 class="subtitle">My Items</h2>

<ul>
  <% @items.each do |item| %>
    <div id="item_<%= item.id %>">
      <p><li><%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %>
              <%= button_to "Disable" %></li></p>
    </div>
  <% end %>
</ul>