<h1><%= @item.name %>'s Show Page</h1>
<%= link_to "Edit #{@item.name}", "/merchants/#{@item.merchant_id}/items/#{@item.id}" %>
<ul>
    <li>Item Description: <%= @item.description %></li>
    <li>Current selling price is: <%= number_to_currency(@item.unit_price) %></li>
</ul>