<h1>Merchant Item Show</h1>

<h2><%= @item.name %></h2>
<p>Description: <%= @item.description %></p>
<p>Price: <%= @item.unit_price %></p>

<%= link_to 'Edit Item', edit_merchant_item_path(@item.merchant.id, @item.id) %>
