<h1>Update Items</h1>

<%= render partial: "form", locals: {path: merchant_item_path(@item.merchant.id, @item.id), 
http_verb: :patch, button_name: "Update Item", item_name: @item.name, 
item_description: @item.description, item_price: @item.unit_price} %>
