<h3><%= @item.name %><br></h3>
Description: <%= @item.description %><br>
Unit Price: <%= @item.unit_price %><br>

<%= link_to 'Update Item', "/merchants/#{@merchant.id}/items/#{@item.id}/edit", class: "btn btn-info" %>
