<div align="center">
  <h1>Merchant Item</h1>
  <div class="card navbar-custom"  style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Name: <%= @item.name %></h5>
      <h7 class="card-subtitle mb-2">Description: <%= @item.description %></h7>
      <br/><br/>
      <h6 class="card-subtitle mb-2 text-muted">
        Current Price:
        <strong>
          <%= number_to_currency(@item.unit_price/100.00, precision: 2) %>
        </strong>
      </h6>
        <%= link_to 'Update item information', edit_merchant_item_path(@item.merchant_id, @item.id), class:"btn btn-outline-dark navbar-custom" %>
    </div>
  </div>
</div><br/>
