<div align="center">
<h1>Editing <%= link_to "#{@discount.name}", merchant_discount_path(@merchant, @discount), method: :get, class:"btn btn-outline-dark navbar-custom btn-lg" %> Discount</h1>
<br/><br/>

<%= render 'form', discount: @discount %>

<%= link_to 'Back', merchant_discounts_path(@merchant), class:"btn btn-outline-dark navbar-custom btn-sm" %>
