<h1>GitHub API Stats</h1>
<%= link_to "Github Repo", "https://github.com/stevenjames-turing/adopt_dont_shop" %>

<section id="api_stats">
Repo: <%= @gh.repo.name %>
<br>
Contributors: 
<% @gh.contributors.each do |contributor| %>
    <%= contributor.username %>:
    <%= @gh.commit_count[contributor.username] %> commits, 
<% end %>
</section>
