<h1>Merchant Invoices Index</h1>
<% @merchant.items.each do |item| %>
  <% item.invoices.each do |invoice| %>
    <h3>Invoice #<%= link_to "#{invoice.id}", "/merchants/#{@merchant.id}/invoices/#{invoice.id}" %><br>
  <% end %>
<% end %>