<h1>Invoice ID: <%= @invoice.id %></h1>

<li>Invoice Status: <%= @invoice.status %></li>

<li>Invoice Created: <%= @invoice.pretty_created_at %></li>
<li>Customer Name: <%= @invoice.customer_name %></li>