<h1>Invoice Show Page</h1>
<div id="invoice-details">
    <p>ID: <%= @invoice.id %></p>
    <p>Status: <%= @invoice.status %></p>
    <p>Created: <%= @invoice.formatted_date %></p>  
    <p>Customer: <%= @invoice.customer_name %></p>  
</div>