<div id="padding">

<h1 id="myHeader">Little Esty Shop</h1>

<div id="merchantLinks">
  <span id="merchantName">Poke Retirement homes</span>
    <span class="links">Dashboard</span>
    <span class="links">My Items</span>
    <span class="links">My Invoices</span>
</div>