<header>
  <h2><%= @merchant.name %></h2>
</header>
<nav>

<nav>
<section id="my_items">
  <h3>My Items</h3>
  <%= link_to "Create New Item", new_merchant_item_path(@merchant) %>

  <ul id="items_list">
    <% @items.each do |item| %>
      <li><%= link_to "#{item.name}", merchant_item_path(@merchant.id, item.id) %></li>
    <% end %>
  </ul>
<section>