<h1><%= @merchant.name %></h1>
<br>
<section id="items">
  <h2>My Items</h2>
  <ul>
    <% @merchant.items.each do |item| %>
      <li><%= link_to item.name, merchant_item_path(@merchant, item) %></li>
    <% end %>
  </ul>