<h1>Item show page</h1>

<p><%= @item.name %></p><br/>
<p><%= @item.description %></p><br/>
<p><%= @item.unit_price %></p><br/>

<%= link_to "Update item", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %>
