<h3> Item Name: <%= @item.name %></h3>
<p> Description: <%= @item.description %></p>
<p> Current Selling Price: <%= @item.unit_price %></p>

<%= link_to 'Update Item', "/merchants/#{@merchant.id}/items/#{@item.id}/edit", method: :get %><br/>
