<h4><%="Edit #{@item.name}" %></h4>
<br>
<div id="edit_form">
  <%= render partial: 'form', locals: {method: :patch, path: merchant_item_path(@merchant, @item),button_text: 'Update Information'} %>
 </div>
