<h1><%= @merchant.name %></h1>

<p><%= link_to "Create New Item", new_merchant_item_path(@merchant) %></p>

<% @merchant.items.each do |item| %>
  <p><%= link_to "#{item.name}", merchant_items_path(@merchant, item)%></p>
<% end %>


