<h1>Items</h1>

<% @merchant.items.each do |item| %>
  <p><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %><p>
<% end %>

<%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new" %>
