<h2><%= @merchant.name %>'s Items </h2>

<% @merchant.items.each do |item| %>
  <p><%=link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
    <%= button_to 'Enable',  "/merchants/#{@merchant.id}/items/#{item.id}?status=enabled", id: "#{item.id}", method: :patch %> |
    <%= button_to 'Disable', "/merchants/#{@merchant.id}/items/#{item.id}?status=disabled", id: "#{item.id}", method: :patch %></p>
<% end %>