<h1> <%= @merchant.name %> </h1>

<% @items.each do |item| %>
  <ul>
    <li> <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> </li>
  </ul>
<% end %>

<p> <%= button_to "Create New Item", new_merchant_item_path, method: :get %> </p>
