<h1>Welcome To <%= @merchant.name %></h1>
<% @merchant_items.each do |item| %>
  <p> Item: <%=link_to item.name, merchant_item_path(@merchant, item)%> | Price: $<%= item.unit_price %></p>
  Description: <%= item.description %><br>
  ------------------------------------------<br>
<% end %>