<h1> <%= @merchant.name %></h1>
<h3> Items </h3>
<% @merchant.items.each do |item| %>
<div class="item-<%=item.id%>"
<p> <%= item.name %>
<% if item.status == "enabled" %>
  <%= button_to "Enable", "/merchants/#{@merchant.id}/items", method: :patch %>
<% end %></p>
</div>

<% end %>
