<html>
<head>
<style>
h1 {text-align: center}
h2 {text-align: left}
</style>
</head>
<body>

<h1>Little Esty Shop</h1>

<h2><%= @merchant.name %></h2>
  <% @merchant.items.each do |item| %>
  <%= link_to "Name: #{item.name}", merchant_items_path(@merchant, item)%> <br>
<% end %>

</body>
</html>


