<h2><%= @merchant.name %> </h2>
<div id="merchant-items">
  <% @merchant.items.each do |item| %>
    <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
      <% if item.active_status = :enabled %>
        <%= button_to "Disable", merchant_items_path(@merchant.id) , method: :patch, params: {item: {active_status: :disabled}}%>
        <% else %>
        <%= button_to "Enable", merchant_items_path(@merchant.id) , method: :patch, params: {item: {active_status: :enabled}}%>
      <% end %>
  <% end %>
</div>
