<div id='item-list'>
  <table class='table'>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Quanity</th>
      </tr>
    </thead>>
    <tbody>
      <% @items.each do |item| %>
        <tr id="item-<%=item.id%>">
          <td><%=item.name%></td>
          <td><%=item.unit_price%></td>
          <td><%=item.quanity%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>