<h1>Little Esty Shop</h1>

<h3><%= @merchant.name %></h3>

<p><strong> My Items </strong></p>

<% @items.each do |item| %>
<%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
<% end %>