<h1><%= @merchant.name %> Items</h1>

<h3><%= link_to "Add New Item", new_merchant_item_path(@merchant) %></h3>
<hr>

<h2>List of Items:</h2>
<div id="merchant_items">
<ul>
<% @merchant.items.each do |item| %>
  <p><%= link_to item.name, merchant_item_path(@merchant, item.id) %></p>
<% end %>
</ul>
</div>
