<h1>New Item</h1>
<%= render partial: 'form',
          locals: {
                    path: merchant_items_path(@merchant),
                    method: :post,
                    item: @item,
                    button_text: 'Submit'
          } %>
