<center><h2><%= @item.name %></center></h2><br>

<div id="information">
  <p>Description: <%= @item.description %></p><br>
  <p>Current Price: $<%= @item.current_price %></p>
</div><br><br>

<%= link_to 'Update Item', edit_merchant_item_path(@merchant, @item) %>