<h1> <%= @item.name %> Information</h1>
<hr>
<%= link_to  "Update Item Information", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %>
<p>Item description: <%= @item.description %></p>
<p>Unit Price:  <%= @item.unit_price %></p>
