<h1>Merchant's Item Show Page</h1>


  <h3><%= @item.name %></h3>
  <p>Description: <%= @item.description %></p>
  <p>Current Price: <%= format_price(@item.unit_price) %></p>
  <p><%= link_to "Update #{@item.name}", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %></p>