<h1> <%= @item.name %> </h1>
<h3> Description: <%= @item.description %> </h3>
<h3> Current Selling Price: <%= @item.unit_price %> </h3>

<p> <%= button_to "Update", edit_merchant_item_path, method: :get %> </p>
