<table class='table' id='item-table'>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Unit Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @item.name %></td>
      <td><%= @item.unit_price %></td>
    </tr>
    <tr>
      <td colspan='2'><%= @item.description %></td>
    </tr>
  </tbody>
</table>