<h1>
  <%= @item.name %>
</h1>

<section>
  <p>Description: <%= @item.description %></p>
  <p>Current Price: $<%= @item.unit_price %>.00</p>
</section><br>

<%= link_to "Update Item", "/merchant/#{@merchant.id}/items/#{@item.id}/edit", method: :get %>
