---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ScottSullivanltd/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab15de78de117ef6ac7852faf0b1792f97d6898d337e9f4a708b6d3c363b187d"
      Last-Modified:
      - Mon, 11 Apr 2022 19:20:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1650471657'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"ShermanA-13","id":95321606,"node_id":"U_kgDOBa5-Bg","avatar_url":"https://avatars.githubusercontent.com/u/95321606?v=4","gravatar_id":"","url":"https://api.github.com/users/ShermanA-13","html_url":"https://github.com/ShermanA-13","followers_url":"https://api.github.com/users/ShermanA-13/followers","following_url":"https://api.github.com/users/ShermanA-13/following{/other_user}","gists_url":"https://api.github.com/users/ShermanA-13/gists{/gist_id}","starred_url":"https://api.github.com/users/ShermanA-13/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ShermanA-13/subscriptions","organizations_url":"https://api.github.com/users/ShermanA-13/orgs","repos_url":"https://api.github.com/users/ShermanA-13/repos","events_url":"https://api.github.com/users/ShermanA-13/events{/privacy}","received_events_url":"https://api.github.com/users/ShermanA-13/received_events","type":"User","site_admin":false,"contributions":57},{"login":"BrianZanti","id":8962411,"node_id":"MDQ6VXNlcjg5NjI0MTE=","avatar_url":"https://avatars.githubusercontent.com/u/8962411?v=4","gravatar_id":"","url":"https://api.github.com/users/BrianZanti","html_url":"https://github.com/BrianZanti","followers_url":"https://api.github.com/users/BrianZanti/followers","following_url":"https://api.github.com/users/BrianZanti/following{/other_user}","gists_url":"https://api.github.com/users/BrianZanti/gists{/gist_id}","starred_url":"https://api.github.[...]
