---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/croixk/little-esty-shop/pulls?page=1&per_page=100&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8110ea7ca13f643b9927d289c1cfc957eecd056884f8eea4456bdbce05342266"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1642009813'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/croixk/little-esty-shop/pulls/73","id":819173284,"node_id":"PR_kwDOGnnmSM4w05ek","html_url":"https://github.com/croixk/little-esty-shop/pull/73","diff_url":"https://github.com/croixk/little-esty-shop/pull/73.diff","patch_url":"https://github.com/croixk/little-esty-shop/pull/73.patch","issue_url":"https://api.github.com/repos/croixk/little-esty-shop/issues/73","number":73,"state":"closed","locked":false,"title":"User
        story 10 need view","user":{"login":"Henchworm","id":75279942,"node_id":"MDQ6VXNlcjc1Mjc5OTQy","avatar_url":"https://avatars.githubusercontent.com/u/75279942?v=4","gravatar_id":"","url":"https://api.github.com/users/Henchworm","html_url":"https://github.com/Henchworm","followers_url":"https://api.github.com/users/Henchworm/followers","following_url":"https://api.github.com/users/Henchworm/following{/other_user}","gists_url":"https://api.github.com/users/Henchworm/gists{/gist_id}","starred_url":"https://api.github.com/users/Henchworm/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Henchworm/subscriptions","organizations_url":"https://api.github.com/users/Henchworm/orgs","repos_url":"https://api.github.com/users/Henchworm/repos","events_url":"https://api.github.com/users/Henchworm/events{/privacy}","received_events_url":"https://api.github.com/users/Henchworm/received_events","type":"User","site_admin":false},"body":null,"created_at":"2022-01-11T23:23:17Z","updated_at":"2022-01-11T23:23:39Z","closed_at":"2022-01-11T23:23:37Z","merged_at":"2022-01-11T23:23:37Z","merge_commit_sha":"6968363404d0b7aa7c4559750fdde6765c472725","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/croixk/little-esty-shop/pulls/73/commits","review_comments_url":"https://api.github.com/repos/croixk/little-esty-shop/pulls/73/comments","review_comment_url":"https://api.github.com/repos/croixk/little-esty-shop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/croixk/little-esty-shop/issues/73/comments","statuses_url":"https://api.github.com/repos/croixk/little-esty-shop/statuses/294631560e46e852ccab3aa32efec965e6e4a80e","head":{"label":"croixk:user_story_10_need_view","ref":"user_story_10_need_view","sha":"294631560e46e852ccab3aa32efec965e6e4a80e","user":{"login":"croixk","id":20864043,"node_id":"MDQ6VXNlcjIwODY0MDQz","avatar_url":"https://avatars.githubusercontent.com/u/20864043?v=4","gravatar_id":"","url":"https://api.github.com/users/croixk","html_url":"https://github.com/croixk","followers_url":"https://api.github.com/users/croixk/followers","following_url":"https://api.github.com/users/croixk/following{/other_user}","gists_url":"https://api.github.com/users/croixk/gists{/gist_id}","starred_url":"https://api.github.com/users/croixk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/croixk/subscriptions","organizations_url":"https://api.github.com/users/croixk/orgs","repos_url":"https://api.github.com/users/croixk/repos","events_url":"https://api.github.com/users/croixk/events{/privacy}","received_events_url":"https://api.github.com/users/croixk/received_events","type":"User","site_admin":false},"repo":{"id":444196424,"node_id":"R_kgDOGnnmSA","name":"little-esty-shop","full_name":"croixk/little-esty-shop","private":false,"owner":{"login":"croixk","id":20864043,"node_id":"MDQ6VXNlcjIwODY0MDQz","avatar_url":"https://avatars.githubusercontent.com/u/20864043?v=4","gravatar_id":"","url":"https://api.github.com/users/croixk","html_url":"https://github.com/croixk","followers_url":"https://api.github.com/users/croixk/followers","following_url":"https://api.github.com/users/croixk/following{/other_user}","gists_url":"https://api.github.com/users/croixk/gists{/gist_id}","starred_url":"https://api.github.com/users/croixk/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/croixk/subscriptions","organizations_url":"https://api.github.com/users/croixk/orgs","repos_url":"https://api.github.com/users/croixk/repos","events_url":"https://api.github.com/users/croixk/events{/privacy}","received_events_url":"https://api.github.com/users/croixk/received_events","type":"User","site_admin":false},"html_url":"https://github.com/croixk/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/croixk/little-esty-shop","forks_url":"https://api.github.com/repos/croixk/little-esty-shop/forks","keys_url":"https://api.github.com/repos/croixk/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/croixk/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/croixk/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/croixk/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/croixk/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/croixk/little-esty-shop/events","assignees_url":"https://api.github.com/repos/croixk/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/croixk/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/croixk/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/croixk/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/croixk/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/croixk/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/croixk/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/croixk/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/croixk/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/croixk/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/croixk/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/croixk/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/croixk/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/croixk/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/croixk/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/croixk/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/croixk/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/croixk/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/croixk/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/croixk/little-esty-shop/merges","archive_url":"https://api.github.com/repos/croixk/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/croixk/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/croixk/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/croixk/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/croixk/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/croixk/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/croixk/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/croixk/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/croixk/little-esty-shop/deployments","created_at":"2022-01-03T20:52:32Z","updated_at":"2022-01-08T23:47:16Z","pushed_at":"2022-01-12T07:20:15Z","git_url":"git://github.com/croixk/little-esty-shop.git","ssh_url":"git@github.com:croixk/little-esty-shop.git","clone_url":"https://github.com/croixk/little-esty-shop.git","svn_url":"https://github.com/croixk/little-esty-shop","homepage":null,"size":1302,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":40,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":40,"watchers":0,"default_branch":"main"}},"base":{"label":"croixk:main","ref":"main","sha":"0d447da938578cbfa85b6f5d4814ec8cc87dfd1f","user":{"login":"croixk","id":20864043,"node_id":"MDQ6VXNlcjIwODY0MDQz","avatar_url":"https://avatars.githubusercontent.com/u/20864043?v=4","gravatar_id":"","url":"https://api.github.com/users/croixk","html_url":"https://github.com/croixk","followers_url":"https://api.github.com/users/croixk/followers","following_url":"https://api.github.com/users/croixk/following{/other_user}","gists_url":"https://api.github.co[...]
[...]
