---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/croixk/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45cc2a84e26e82aab3faf0a2dafbae7d72223c29a6e48b098287f644225ca9e1"
      Last-Modified:
      - Sat, 08 Jan 2022 23:47:16 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1642009813'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '26'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"BrianZanti","id":8962411,"node_id":"MDQ6VXNlcjg5NjI0MTE=","avatar_url":"https://avatars.githubusercontent.com/u/8962411?v=4","gravatar_id":"","url":"https://api.github.com/users/BrianZanti","html_url":"https://github.com/BrianZanti","followers_url":"https://api.github.com/users/BrianZanti/followers","following_url":"https://api.github.com/users/BrianZanti/following{/other_user}","gists_url":"https://api.github.com/users/BrianZanti/gists{/gist_id}","starred_url":"https://api.github.com/users/BrianZanti/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BrianZanti/subscriptions","organizations_url":"https://api.github.com/users/BrianZanti/orgs","repos_url":"https://api.github.com/users/BrianZanti/repos","events_url":"https://api.github.com/users/BrianZanti/events{/privacy}","received_events_url":"https://api.github.com/users/BrianZanti/received_events","type":"User","site_admin":false,"contributions":51},{"login":"dylan-harper","id":39470230,"node_id":"MDQ6VXNlcjM5NDcwMjMw","avatar_url":"https://avatars.githubusercontent.com/u/39470230?v=4","gravatar_id":"","url":"https://api.github.com/users/dylan-harper","html_url":"https://github.com/dylan-harper","followers_url":"https://api.github.com/users/dylan-harper/followers","following_url":"https://api.github.com/users/dylan-harper/following{/other_user}","gists_url":"https://api.github.com/users/dylan-harper/gists{/gist_id}","starred_url":"https[...]
