---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ruezheng/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"96700d48d7f953cc4a7af70065f5f2a06ed2514f75661027d904e791c66a7c65"
      Last-Modified:
      - Tue, 07 Jun 2022 00:18:16 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1654664633'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"ZacHazelwood","id":98780233,"node_id":"U_kgDOBeNESQ","avatar_url":"https://avatars.githubusercontent.com/u/98780233?v=4","gravatar_id":"","url":"https://api.github.com/users/ZacHazelwood","html_url":"https://github.com/ZacHazelwood","followers_url":"https://api.github.com/users/ZacHazelwood/followers","following_url":"https://api.github.com/users/ZacHazelwood/following{/other_user}","gists_url":"https://api.github.com/users/ZacHazelwood/gists{/gist_id}","starred_url":"https://api.github.com/users/ZacHazelwood/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ZacHazelwood/subscriptions","organizations_url":"https://api.github.com/users/ZacHazelwood/orgs","repos_url":"https://api.github.com/users/ZacHazelwood/repos","events_url":"https://api.github.com/users/ZacHazelwood/events{/privacy}","received_events_url":"https://api.github.com/users/ZacHazelwood/received_events","type":"User","site_admin":false,"contributions":87},{"login":"jenniferhalloran","id":48455658,"node_id":"MDQ6VXNlcjQ4NDU1NjU4","avatar_url":"https://avatars.githubusercontent.com/u/48455658?v=4","gravatar_id":"","url":"https://api.github.com/users/jenniferhalloran","html_url":"https://github.com/jenniferhalloran","followers_url":"https://api.github.com/users/jenniferhalloran/followers","following_url":"https://api.github.com/users/jenniferhalloran/following{/other_user}","gists_url":"https://api.github.com/users/jenniferhalloran/gists{/gist_i[...]
