<h4><%= invoice_item.item_name %></h4>
<h5>quantity: <%= invoice_item.quantity%>
unit price: <%= invoice_item.unit_price %>
status: <%= render partial: "status", locals: {
  object: invoice_item, 
  text: "Update Item Status!", 
  options: ["pending", "packaged", "shipped"]} %>
</h5>