---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/phillipkamps/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c28e8947972c5b02539f0f45ad78126035ad66e6f1d054a271b7ca9c1aa1d1c"
      Last-Modified:
      - Fri, 15 Apr 2022 06:49:54 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Reset:
      - '1650491262'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '58'
    body:
      encoding: ASCII-8BIT
      string: '{"id":479468731,"node_id":"R_kgDOHJQcuw","name":"little-esty-shop","full_name":"phillipkamps/little-esty-shop","private":false,"owner":{"login":"phillipkamps","id":56653844,"node_id":"MDQ6VXNlcjU2NjUzODQ0","avatar_url":"https://avatars.githubusercontent.com/u/56653844?v=4","gravatar_id":"","url":"https://api.github.com/users/phillipkamps","html_url":"https://github.com/phillipkamps","followers_url":"https://api.github.com/users/phillipkamps/followers","following_url":"https://api.github.com/users/phillipkamps/following{/other_user}","gists_url":"https://api.github.com/users/phillipkamps/gists{/gist_id}","starred_url":"https://api.github.com/users/phillipkamps/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/phillipkamps/subscriptions","organizations_url":"https://api.github.com/users/phillipkamps/orgs","repos_url":"https://api.github.com/users/phillipkamps/repos","events_url":"https://api.github.com/users/phillipkamps/events{/privacy}","received_events_url":"https://api.github.com/users/phillipkamps/received_events","type":"User","site_admin":false},"html_url":"https://github.com/phillipkamps/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/phillipkamps/little-esty-shop","forks_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/forks","keys_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/events","assignees_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/merges","archive_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/phillipkamps/little-esty-shop/deployments","created_at":"2022-04-08T16:46:21Z","updated_at":"2022-04-15T06:49:54Z","pushed_at":"2022-04-20T20:33:52Z","git_url":"git://github.com/phillipkamps/little-esty-shop.git","ssh_url":"git@github.com:phillipkamps/little-esty-shop.git","clone_url":"https://github.com/phillipkamps/little-esty-shop.git","svn_url":"https://github.com/phillipkamps/little-esty-shop","homepage":"","size":1332,"stargazers_count":4,"watchers_count":4,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":41,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":1,"open_issues":41,"watchers":4,"default_branch":"main","temp_clone_token":null,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/phillipkamps/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c90a0506b13e880c1282e55610e7386beedba4ec6a73197761ff13638c1b01d0"
      Last-Modified:
      - Fri, 15 Apr 2022 06:49:54 GMT
      X-Github-Media-Type:
      - github.v3; fo[...]
- request:
    method: get
    uri: https://api.github.com/repos/phillipkamps/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: rate limit exceeded
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1650491262'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '60'
    body:
      encoding: UTF-8
      string: '{"message":"API rate limit exceeded for 98.53.231.202. (But here''s
        the good news: Authenticated requests get a higher rate limit. Check out the
        documentation for more details.)","documentation_url":"https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting"}

'
  recorded_at: Wed, 20 Apr 2022 20:53:00 GMT
recorded_with: VCR 6.1.0
