@import "/*";
@import "bootstrap";
 @import "tether";


.merchant-div {
  display: flex;
  flex-direction: row;
  flex: 2;
  padding-left: 12rem;
  text-align: left;
}


.left-div{
text-align: left;
}
.right-div{
padding-left: 9rem;
}
.center-col {
text-align: left;
}
.merch-right-div{
flex: 50%;
text-align: left;
}
.center-admin{
padding-left: 29rem;
}
