/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body{
  margin: 0px;
  padding: 15px;
}

/* * {
  border-style: solid;
  border-width: 1px;
  border-color: red;
} */

#page-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#app-title {
  font-size: xx-large;
  /* padding: 10px; */
}

#page-banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#merchant-links {
  display: flex;
}

#merchant-details {
  font-size: x-large;
}

#dashboard-content {
  display: flex;
  gap: 50px;
}

#dashboard-content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;    
}

#dashboard-content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
}

.content-column-title {
  text-align: center;
  background-color: rgb(221, 217, 217);
  min-height: 40px;
  font-weight: bolder;
  line-height: 40px;
  margin-bottom: 20px;
}

.content-column-main {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item-ready-to-ship {

}

.favorite-customer {
  padding: 10px;
  font-size: x-large;
}

.dashboard-link {
  background-color: #00186F;
  color: #E1E2E1;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  margin: 4px;
}

.dashboard-link:hover {
  background-color: #6668d0;
}

.items-link {
  background-color: #006f41;
  color: #E1E2E1;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  margin: 4px;
}

.items-link:hover {
  background-color: #03a05f;
}

.invoices-link {
  background-color: #900ba1;
  color: #E1E2E1;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  margin: 4px;
}

.invoices-link:hover {
  background-color: #bc43cc;
}

