@import "/*";
@import "bootstrap";
 @import "tether";


.merchant-div {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 2;
  padding-left: 11rem;
}

.right-div{
padding-left: 9rem;
}

.merch-right-div{
padding-left: 10rem;
flex: 50%;
}
.center-admin{
padding-left: 29rem;
}
