/*
*= require_tree .
*= require_self
*/
.main {
  padding: 12px 20px;
}

.navbar ul {
  text-align: right;
  margin-left: 0;
  margin-right: 0;
}

.navbar ul li {
 list-style: none;
 display: inline-block;
 padding: 10px;
}

.row {
  width: 100%;
  padding: 20px;
  display: inline-flex;
  justify-content: space-around;
}

.column h2 p{
  width: 50%;
  padding: 20px;
  align-content: center;
}
