/*
*= require_tree .
*= require_self
*/
@import url('https://fonts.googleapis.com/css2?family=Petrona&family=Quicksand:wght@300&family=Tinos&display=swap');
body {
  text-align: center;
  font-family: 'Petrona', serif;
}

body h1 {
  font-size: 36px;
  font-family: 'Tinos', serif;
}

body h2 h3 {
  font-family: 'Quicksand', sans-serif;
}

.search {
  text-align: left;
}

.navbar ul {
  text-align: right;
  margin-left: 0;
  margin-right: 0;
}

.navbar ul li {
 list-style: none;
 display: inline-block;
 padding: 10px;
 font-family: 'Petrona', serif;
}

.row {
  width: 100%;
  padding: 20px;
  display: inline-flex;
  justify-content: space-around;
}

.column h2 p{
  width: 50%;
  padding: 20px;
  align-content: center;
}
