/*
*= require_tree .
*= require_self
*/

.navbar ul {
  text-align: right;
  margin-left: 0;
  margin-right: 0;
}

.navbar ul li {
 list-style: none;
 display: inline-block;
 padding: 10px;
}

.column h2 p{
  width: 50%;
  padding: 12px;
  align-content: center;
}
