.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #090909;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 15px;
}

.nav-link {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  color: #007bff;
}
