<h1>Admin Dashboard</h1>

<p><%= link_to "Merchants", admin_merchants_path %>
<%= link_to "Invoices", admin_invoices_path %></p>

<h2> Top Customers </h2>
<ol>
<% @top_five_cust.each do |customer| %>
  <li class="customer"><%= customer.name %> - <%= customer.transaction_count %> purchases</li>
<% end %>
</ol>
<h2> Incomplete Invoices </h2>
