<div id="admin-header">
  <h1>Admin Dashboard</h1>
</div>

<div id="dashboard-links">
  <p><%= link_to "Merchants View", "/admin/merchants" %></p>
  <p><%= link_to "Invoices View", "/admin/invoices" %></p>
</div>