<section id="admin-dashboard-header">
  <h1>ADMIN DASHBOARD</h1>
</section>
<section id="admin-dashboard-nav">
  <%= link_to "Merchants", admin_merchants_path %>
  <%= link_to "Invoices", admin_invoices_path %>
</section>
