<%= @merchant.name %>

<%= link_to "View store items", "/merchants/#{@merchant.id}/items" %>
<%= link_to "View invoices", "/merchants/#{@merchant.id}/invoices" %>


<% if @merchant.invoice_items.present? %>
  <h2>Items ready to ship</h2>
    <% @merchant.ready_items.each do |invoice_item| %>
      <%= invoice_item.item.name %>
    <% end  %>
<% end %>
