<h1>Welcome!</h1>
 <% binding.pry %>
    <% @contributors.each do |contributor| %>
    <ul>
       <li>Github username: <%= contributor.login %></li>
       <li>Github commits: <%= contributor.contributions %></li>
     </ul>
    <% end %>