<style>
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
</style>

<h1><center>Little Esty Shop</center></h1>

<p><%= link_to "Merchants Index", "/merchants" %></p>
