<h3>Top 5 Customers</h3>
<% @merchant.top_5_customers.each do |customer| %>
  <div id="customer<%= customer.id %>">
  <p><%= customer.first_name %> <%= customer.last_name %> <%= customer.transaction_count %></p>
  </div>
<% end %>