<div class="header">
  <h3 class='dash_header'>Admin Dashboard</h3><br>
  <nav>
  <%= link_to 'Merchants', admin_merchants_path %>
  <%= link_to 'Invoices', admin_invoices_path %>
  <%= link_to 'Dashboard', '/admin' %>
 </nav>
</div>

