<div class="title">Little Esty Shop</div>
<hr>

<div class="nav_bar">
<ul>
<li class="page_name">Admin Dashboard</li>
<li class="right_tab"><%=link_to "Dashboard", "/admin"%></li>
<li class="right_tab"><%=link_to "Merchants", "/admin/merchants"%></li>
<li class="right_tab"><%=link_to "Invoices", "/admin/invoices"%></li>
</ul>
</div>
<hr>