<% if @repository.present? %>
  <% if @repository.is_a?(Repository) %>
    <p><%= @repository.name %></p>
  <% else %>
    <p><%= @repository[:message] %></p>
  <% end %>
<% end %>


<% if @contributors.present? %>
  <% if @contributors.is_a?(Contributor) %>
    <% @contributors.each do |contributor| %>
      <strong>Contributors: </strong><%= contributor.login %>
    <% end %>
  <% else %>
    <p><%= @contributors[:message] %></p>
  <% end %>
<% end %>
