<% if @repository.present? %>
  <% if @repository.is_a?(Repository) %>
    <p><%= @repository.name %></p>
  <% else %>
    <p><%= @repository[:message] %></p>
  <% end %>
<% end %>


<% @contributors.each do |contributor| %>
  <%= contributor.login %>
<% end %>
