<% if @repo.present? %>
  <% if @repo.is_a?(Repository) %>
  <br>
  <hr>
    <p><h3>Repo Name: <%= @repo.name %></h3></p>
  <% else %>
    <p><%= @repo[:message] %></p>
  <% end %>
<% end %>
<% if @contributors.present? %>
  <% if @contributors.is_a?(Contributors) %>
    <p>List of contributors:</p>
    <% @contributors.each do |contributor| %>
      <p><%= contributor.login %></p>
    <% end %>
  <% else %>
  <p><%= @contributors[:message] %></p>
  <% end %>
<% end %>

