<div class="title">Little Esty Shop</div>
<hr>

<div class="nav_bar">
<ul>
<li class="page_name"><%=page_name%></li>
<li class="right_tab"><%=link_to "Dashboard", "/merchants/#{merchant_id}/dashboard"%></li>
<li class="right_tab"><%=link_to "Merchant Items", "/merchants/#{merchant_id}/items"%></li>
<li class="right_tab"><%=link_to "Merchant Invoices", "/merchants/#{merchant_id}/invoices"%></li>
</ul>
</div>
<hr>