<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
